// Все ли h2 действительно h2?
// footer - social-block отступ под svg у a
// Дарим скидку должна появляться после button:hover - как правильно: через visibility or opacity?
// Нужно ли делать продольные полосы через весь макет
// На примере service item - Общий стиль. Но если я задам extra-service, то он становиться приоритетным и общий стиль больше не действует
// кнопка youtube непонятный отступ под кнопкой
// мобильное меню отступ снизу из-за ссылки
// Как добавить прокрутку мобильному меню
// Проблема с мобильным меню на 320 (312Px картинка)


@use 'mixins' as *;

@import url("./custom_css_reset.css");
@import url("../fonts/fonts.css");



/* ===== VARIABLES ===== */

$primary: #0260e8;


/* =============================== */
/* ======== GLOBAL STYLES ======== */
/* =============================== */

/* html {
	scroll-behavior: smooth;
} */

body {
	position: relative; /* чтобы на header не попадали нижние блоки при прокрутке */

	width: 100%;
	min-width: 320px;
	overflow-x: hidden;

	font-family: 'Circe', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* border-left: 1px solid red;
	border-right: 1px solid red; */
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hidden {
	display:none!important;
}




/* ======== GLOBAL STYLES. BUTTON ======== */

// .btn-wrap задается для создания декоративной рамки под кнопкой. Рамку нельзя сделать через псевдоэлемент, примененный к .btn, так как она будет перед самой кнопкой. .btn задается relative-позиционирование для изменения отражения курсора при наведении c помощью z-index. 

.btn {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0.5px;
	color: white;

	width: 300px;
    height: 65px;
	border: 2px solid $primary;
	background-color: $primary;
	
	cursor: pointer;
}

.btn__wrap {
	position: relative;
	display: inline-block;

	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 8px;
		display: block;

		width: 300px;
		height: 65px;
		border: 1px solid $primary;
	}
}

/* ======== GLOBAL STYLES. HEADLINE ======== */

.headline {
	margin: 0 auto;
	max-width: 1310px;
	background-color: rgba(2, 96, 232, 0.08);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
	
		.hl {
			color: $primary;
		}

		.second-line {
			display: block;
		}
	}
	
	&__image {
		flex: 0 0 260px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// .separator {
// 	position: relative;

// 	::after {
// 		content: "";
// 		display: inline-block;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 1px;
// 		height: 100%;
// 		background-color: black;
// 	}
// }

// .devider-block {
// 	position:absolute;
// 	width: 1160px;
// 	height: 100%;
// 	top: 0;
// 	left: 50%;
// 	transform: translateX(-50%);

// 	display: flex;

// 	&__line {
// 		/* display: inline-block; */
// 		display: block;
// 		height: 100%;
// 	}

// 	&__line:first-child,
// 	&__line:nth-child(2),
// 	&__line:nth-child(3) {
// 		flex: 0 0 300px;
// 		/* margin-left: 300px; */
// 		border-left: 1px solid rgb(230 230 230 / 40%);
// 	}

// 	&__line:last-child {
// 		flex: 0 0 260px;
// 		/* margin-left: 260px; */
// 		border-left: 1px solid rgb(230 230 230 / 40%);
// 		border-right: 1px solid rgb(230 230 230 / 40%);
// 	}
// }

/* ======== GLOBAL STYLES. INFO-BLOCK ======== */

.info-block {

	&__list {
		display: flex;
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		/* border-left: 1px solid black; */
	}

	&__item:first-child,
	&__item:nth-child(2),
	&__item:nth-child(3) {
		flex: 0 0 300px;
	}

	&__item:last-child {
		flex: 0 0 260px;
		/* border-right: 1px solid black; */
	}

	&__icon {
		margin-left: -11px;
		flex: 0 0 20px;
	}
	
	&__text {
		padding-left: 28px;
		font-size: 25px;
		font-weight: 600;
		line-height: 1.2;

		.hl {
			color: $primary;
		}

		.second-line {
			display: block;
		}
	}
}

/* ======== GLOBAL STYLES. FORM ======== */

.standart-form {
	padding-right: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	
	&__input {
		padding: 0 20px;
		width: 100%;
		height: 50px;
		border: 1px solid #dbdbdb;
		background-color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		outline: none; 

		&::placeholder {
			color: rgba( 0, 0, 0, 0.4 );
		}
	}

	&__input-telephone {
		padding: 0 20px 0 5px;
		width: 100%;
		height: 100%;
		border: none;
		background-color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		outline: none; 

		&::placeholder {
			color: rgba( 0, 0, 0, 0.4 );
		}
	}

	&__input-checkbox {
		margin: 0 10px 0 1px;
		position: relative;
		height: 20px;
		width: 20px;
		border: 2px solid #000;
		cursor: pointer;
    	opacity: 0.6;
		transition: all 0.2s;

		appearance: none;
		&::-ms-expand { 
			display: none;
		}

		&:checked {
			opacity: 1;
			transition: all 0.2s;

			&::after{
				content: '';
				position: absolute;
				left: 6px;
				top: 2px;
				box-sizing: content-box;
				width: 3px;
				height: 8px;
				border: solid #000;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}
	}

	&__telephone {
		padding: 0 0 0 21px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		border: 1px solid #dbdbdb;
		background-color: #ffffff;

		&-phonemask {
			display: flex;
			align-items: center;
			position: relative;

			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 27px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 5px 4px 0;
				border-color: #9a9a9a transparent transparent;
			}
		}

		&-flag {
			display: inline-block;
			width: 18px;
			height: 13px;
			background: url(../img/5_request/request_flags.png) -285px -281px no-repeat;
			box-shadow: 0 0 5px rgb(0 0 0 / 30%);
		}

		&-prefix {
			margin-left: 24px;
			display: inline-block;
		}
	}
	
	&__agreement {
		display: flex;
		align-items: center;

		&-link {
			margin-left: 3px;
			font-size: 14px;
			font-weight: 400;
			color: $primary;
		}
	}

	&__label {
		font-size: 14px;
		font-weight: 400;
		cursor: pointer;
	}

}

.btn--standart-form,
.btn__wrap--standart-form,
.btn__wrap--standart-form::after {
	width: 100%;
	height: 100%;
}

.btn--standart-form {
	font-size: 14px;
	letter-spacing: normal;
}

/* ======== GLOBAL STYLES. ANIMATION ======== */

.animation-flash {
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 45px;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
		transform: skewX(-45deg);
		animation: flash 3s linear infinite;
	}
}

@keyframes flash {

	0% {
		left: -20%;
	}

	20%, 100% {
		left: 120%;
	}
} 

/* ======== GLOBAL STYLES. ICONS ======== */

.icon-plus {
	position: relative;
	width: 20px;
	height: 20px;

	&__element {
		position: absolute;
		background-color: $primary;
	}

	&__element:first-child {
		top: 50%;
		left: 0;
		right:0;
		transform: translateY(-50%);
		height: 4px;
	}

	&__element:last-child {
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
	}
}

.svg-logo {
	width: 143px;
	height: 40px;
}

.svg-nav {
	width: 19px;
	height: 19px;
}

.svg-phone {
	width: 17px;
	height: 17px;
}

.svg-mail {
	width: 17px;
	height: 17px
}

.svg-whatsapp {
	fill: $primary;
	width: 25px;
	height: 25px;
}

.svg-telegramm {
	fill: $primary;
	width: 22px;
	height: 22px;
}

.svg-instagramm {
	fill: $primary;
	width: 21px;
	height: 21px;
}

.svg-facebook {
	fill: $primary;
	width: 13px;
	height: 22px;
}

.svg-on-top {
	width: 50px;
	height: 50px;
}


/* ============================== */
/* ======== 1. HEADER =========== */
/* ============================== */

.header {
	position: fixed;
	z-index: 10;

	padding: 18px 0 4px;
	width: 100%;
	background-color: white;

	&__hamb {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__inner {
		display: flex;
		width: 100%;
	}

	&__logo {
		margin-right: 70px;
		flex: 0 0 143px;

	}
	
	&__nav {
		flex: 0 0 314px;
		margin-right: 75px;
	}
}

.hamb {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $primary;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 22px;
		height: 14px;
	}

	&__bar {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
}

.icon-exit {
	position: relative;
	display: block;
	height: 24px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 2px;
		height: 24px;
		background-color: black;
		transform: rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 2px;
		height: 24px;
		background-color: black;
		transform: rotate(-45deg);
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	margin-left: auto;
	padding: 15px 15px 30px;
	flex-direction: column;
	display: flex;
	width: 260px;
	height: 100%;
	background-color: white;
	transition: 0.3s;
	transform: translateX(100%);

	&__wrap {
		position: fixed;
		z-index: 9;
		top: 0;
		right: -100%;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0,0.70);
	}

	&__top-block {
		flex: 1 1 auto;
		justify-content: center;
	}

	&__bottom-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__exit {
		padding-right: 10px;
		display: flex;
		justify-content: flex-end;
	}

	&__logo {
		margin: 10px 0;
		display: flex;;
    	justify-content: center;
	}

	&__list {
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		font-size: 17px;
	}

	&__item:not(:last-child) {
		margin-bottom: 15px;
	}

	&__phone {
		margin-top: 25px;
		font-size: 20px;
		font-weight: 300;
		color: #1f1f1f;
	}

	&__social-list {
		margin-top: 25px;
		display: flex;
		justify-content: center;
	}

	&__social-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
	}

	&__social-item:not(:last-child) {
		margin-right: 10px;
	}

	&__link {
		display: inline-block;
		line-height: 1;
	}

	&__button-calc {
		margin: 25px auto 0 auto;
	}

}

.svg-mobile-logo {
	width: 120px;
	height: 33px;
}

.svg-facebook-mobile,
.svg-instagramm-mobile,
.svg-telegramm-mobile {
	width: 30px;
	height: 30px;
}

.btn--header-mobile-calc {

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Ubuntu', Arial, sans-serif;
	font-size: 14px;
	color: white;

	width: 200px;
    height: 45px;
	border: none;
	border-radius: 4px;
	background-color: $primary;
	
	cursor: pointer;
}

.nav {

	&__menu {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__item {
		font-size: 16px;
		line-height: 1.55;
		font-weight: 600;
		opacity: 0.8;

		&:hover {
			color: $primary;
		}
	}

	&__item:first-child {
		margin-right: 38px;
	}

	&__item:last-child {
		margin-left: auto;
	}

	&__link {

	}
}

.header__address {
	margin-right: 65px;
	flex: 0 0 236px;
	display: flex;
	align-items: center;

	&-icon {
		margin-right: 25px;
	}
	
	&-text {
		padding-top: 12px;
		text-align: center;
		font-size: 14px;
		line-height: 1.15;
		font-weight: 400;
		opacity: 0.8;
	}
}

.header__contacts {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;

	&-phone {
		display: flex;

		&-icon {
			margin-right: 8px;
			position: relative;
			top: -2px;
			left: -5px;
			transform: rotate(90deg);
		}
		
		&-text {
			font-size: 15px;
			line-height: 1.2;
			font-weight: 600;
			opacity: 0.8;
		}
	}
	
	&-email {
		display: flex;

		&-icon {
			margin-right: 11px;
		}
		&-text {
			font-size: 15px;
			line-height: 1.25;
			font-weight: 400;
			opacity: 0.8;
		}
	}
}

.header__social {
	margin: 0 0 0 auto;
	flex: 0 0 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-whatsapp,
	&-telegramm {

		&:hover {
			transition: 0.2s ease-in-out;
			opacity: 0.6;
		}
	}
}


/* ================================= */
/* ======== 2. HERO-SECTION ======== */
/* ================================= */

.hero {
	padding: 120px 0 119px;
	position: relative;

	&__background-block {
		margin: 0 auto;
		padding: 82px 0 366px;
		max-width: 1310px;
		background-color: #f8f8f8
	}

	&__lead {
		padding-top: 50px;
		width: 605px;
	}
	
	&__title {
		font-size: 41px;
		line-height: 1.3;
		font-weight: 700;
		letter-spacing: 0.5px;

		.hl {
			color: $primary;
		}
	}
	
	&__subtitle {
		font-size: 28px;
		line-height: 1.25;
		font-weight: 600;
		letter-spacing: 0.4px;

		.hl {
			color: $primary;
		}
	}
	
	&__desc {
		margin: -573px 0 0 auto;
		width: 265px;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: #292929;
		opacity: 0.85;

		.hl {
			font-weight: 600;
			color: $primary;
		}
	}
}

.hero__machine {
	margin-top: -118px;

	&-inner {
		position: relative;
		left: 22.3%;
		display: inline-block;

		/* blue circle */
		&::before {
			content: "";
			position: absolute;
			top: 0px;
    		left: 23.8%;
			display: block;
			width: 491px;
			height: 491px;
			border-radius: 50%;
			background-color: rgba(2, 96, 232, 0.08);
		}
	}

	&-image {
		margin-top: 75px;
		position: relative;
		width: 752px;
		height: 420px;
	}

	&-tooltip {
		position: relative;
	}

	&-tooltip-icon {
		line-height: 0;
		border-radius: 50%;
		background-color: $primary;

		&:hover + .hero__machine-tooltip-content {

			&::before {
				display: inline-block;
				transition: 0.2s ease-in-out;
				opacity: 1;
			}
		}
	}

	&-tooltip-content {

		&::before {
			content: "";
			position: absolute;
			top: 50%;
    		transform: translateY(-50%);
			padding: 15px;
			background-color: #ffffff;
			border-radius: 10px;
			box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
			font-size: 14px;
			line-height: 1.4;
			font-weight: 400;
			opacity: 0;
			transition: 0.2s ease-in-out;
			transition-delay: 0.3s;
		}
	}

	&-tooltip-wrap--1 {
		position: absolute;
		z-index: 2;
		left: 25.2%;
		top: 28.3%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Электронное изменение угла поворота пилы, позволяет делать максимально точные срезы под любые задачи наших заказчиков";
				position: absolute;
				right: 40px;
				width: 285px;
			}
		}
	}

	&-tooltip-wrap--2 {
		position: absolute;
		z-index: 2;
		left: 83.5%;
		top: 25.6%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Расширенный стол с роликом для подачи заготовки + 4 направляющих ролика качения, ускоряют выполнения заказа без брака";
				position: absolute;
				left: 40px;
				width: 235px;
			}
		}
	}

	&-tooltip-wrap--3 {
		position: absolute;
		z-index: 2;
		left: 43.7%;
		top: 93.2%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Профессиональное Австрийское оборудование в тандеме с опытными специалистами, позволяют давать гарантию на наши услуги";
				position: absolute;
				right: 40px;
				width: 275px;
			}
		}
	}
}

.hero__info-block {
	margin-top: 304px;

	.info-block__item:nth-child(2) {
		padding-right: 30px;
	}

	.info-block__item:nth-child(3) {
		padding-right: 42px;
	}
}

/* + global styles - info-block */

.svg-service-icon {
	display: block;
	width: 125px;
	height: 125px;
}

.hero__button-calc-block {
	margin-top: 23px;
	padding: 0 8px 0 0;
}

.hero__button-calc-tooltip {
	opacity: 0;
	transition: 0.2s ease-in-out;
	margin: 14px 0 0 10px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;

	.hl {
		font-weight: 600;
		color: $primary;
	}
}

.btn--hero-calc {
	transition: 0.2s ease-in-out;
	
	&:hover {
		background-color: #ffffff;
		color: $primary;
		transition: 0.2s ease-in-out;

		& + .hero__button-calc-tooltip {
			opacity: 0.75;
			transition: 0.2s ease-in-out;
		}
	}
}

.hero__button-order {
	position: absolute;
	bottom: 230px;
	right: 20px;
}

.btn--hero-order {
	width: 173px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	border: none;
}

.svg-plus {
	width: 25px;
	height: 25px;
}


/* ==================================== */
/* ======== 3. SERVICE-SECTION ======== */
/* ==================================== */

.service {
	padding: 100px 0 190px;
	position: relative;
}

.service__basic-headline {
	padding: 46px 0;
	
	.headline__image-inner {
		width: 180px;
		height: 144px;
	}
}

.service__list {
	margin-top: 29px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.service__item {
	padding-top: 65px;
    padding-bottom: 49px;
	display: flex;
	flex-direction: column;

	&:nth-child(4n+1),
	&:nth-child(4n+2),
	&:nth-child(4n+3) {
		flex: 0 0 300px;
	}

	&:nth-child(4n+4) {
		flex: 0 0 260px;
	}

	&-icon {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&-title {
		margin-top: 20px;
		text-align: center;
		font-weight: 600;
	}
	&-desc {
		margin-top: 18px;
		text-align: center;
		font-size: 14px;
		line-height: 1.65;
		font-weight: 500;
	}
}

.service__basic-item--1st,
.service__basic-item--2nd,
.service__basic-item--3rd,
.service__basic-item--4th {
	border-bottom: 1px solid rgb(230 230 230 / 70%);
	
}

.service__basic-item--5th {
	.service__item-desc {
		flex: 0 0 46.19px;
	}
}

.svg-service-basic-icon-1 {
	width: 55px;
    height: 45px;
}
.svg-service-basic-icon-2 {
	width: 50px;
    height: 50px;
}

.svg-service-basic-icon-3,
.svg-service-basic-icon-4,
.svg-service-basic-icon-5,
.svg-service-basic-icon-6 {
	width: 60px;
	height: 60px;
}

.svg-service-basic-icon-7 {
	width: 56px;
    height: 50px;
}

.svg-service-basic-icon-8 {
	width: 60px;
	height: 52.4px;
}

.service__extra {

	.service__list {
		margin-top: 17px;
	}

	&-headline {
		margin-top: 89px;
		padding: 46px 0;
		
		.headline__image-inner {
			width: 150px;
			height: 146px;
		}
	}
}

.svg-service-extra-icon-1,
.svg-service-extra-icon-2,
.svg-service-extra-icon-4 {
	width: 70px;
	height: 70px;
}

.svg-service-extra-icon-3 {
	width: 75px;
	height: 75px;
}

.service__button-consultation {
	margin-top: 43px;
	padding-left: 48px; /* смещена относительно центра */
	display: flex;
	justify-content: center;

	.btn__wrap {
		padding-right: 8px;
		padding-bottom: 10px;
	}
}

.btn--service-consulation {
	position: relative;
	z-index: 2;
	transition: 0.2s ease-in-out;

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}

.service__button-on-top {
	position: absolute;
	top: 0;
	left: 30px;
}


/* ===================================== */
/* ======== 4. BENEFITS-SECTION ======== */
/* ===================================== */

.benefits {
	padding: 76px 0 30px;

	&__title {
		position: sticky;
		top: 250px;
		padding-bottom: 20px;
		font-size: 40px;
		line-height: 1.2;
		font-weight: 700;

		.second-line {
			display: block;
		}

		.hl {
			color: $primary;
		}
	}

	&__list {
		margin-left: 600px;
		display: flex;
		flex-direction: column;
	}
}

.benefits__item {

	&-number {
		font-size: 156px;
		font-weight: 700;
		line-height: 1;
		color: rgba( 0, 0, 0, 0.04 );
	}

	&-title {
		margin-top: -95px;
		padding-right: 150px;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 600;

		.hl {
			color: $primary;
		}
	}

	&-desc {
		position: relative;
		margin-top: 43px;
		padding-right: 130px;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 400;
		color: rgba( 0, 0, 0, 0.75 );

		&::before {
			content: '';
			position: absolute;
			top: -23px;
			left: 0;
			display: inline-block;
			width: 60px;
  			height: 2px;
			background-color: $primary;
		}

		.hl {
			color: black;
		}
	}
}

.benefits__item--1st {
	.benefits__item-desc {
		padding-right: 130px;
	}
}

.benefits__item--2nd {
	margin-top: 76px;

	.benefits__item-title {
		padding-right: 200px;
	}

	.benefits__item-desc {
		padding-right: 130px;
	}
}

.benefits__item--3rd {
	margin-top: 75px;

	.hl {
		display: block;
		line-height: 1.1;
	}

	.benefits__item-desc {
		padding-right: 155px;
	}
}

.benefits__slider {
	margin-top: 215px;

	&-image {
		max-width: 1160px;
		height: 775px;
	}

	img {
		object-fit: cover;
	}
}


/* ==================================== */
/* ======== 5. REQUEST-SECTION ======== */
/* ==================================== */

.request {
	padding: 115px 0 120px;

	&__background-block {
		margin: 0 auto;
		padding: 50px 0 57px;
		max-width: 1310px;
		background-color: rgba(2, 96, 232, 0.08);
	}
	
	&__inner {
		display: flex;
		align-items: center;
	}

	&__title {
		flex: 0 0 600px;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.25;
		color: #292929;

		.second-line {
			display: block;
		}

		.hl {
			color: $primary;
		}
	}
	
	&__form {
		flex: 0 0 410px;
	}
}

.request__form {

	.standart-form__input {
		margin-bottom: 19px;
	}
	
	.standart-form__agreement {
		margin-top: 21px;
	}

	.standart-form__button {
		margin-top: 20px;
		height: 60px;
	}
}


/* ================================== */
/* ======== 6. QUOTE BLOCK ========== */
/* ================================== */

.quote {
	padding: 40px 0 60px;

	&__inner {
		display: flex;
	}
}

.quote__video {
	padding-top: 8px;
	flex: 0 0 475px;

	&-player {
		padding-right: 20px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 20px;
	 		left: 20px;
			display: block;
			width: 452px;
			height: 252px;
			border: 1px solid $primary;
			opacity: 0.55;
		}
	}

	&-frame {
		position: relative;
		width: 452px;
		height: 254px;
		border: 0px;
	}

	&-thumb {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0;
		line-height: 1;
		border: none;
		background-color: transparent;
	}
}

.video-media {
	width: 100%;
	height: 100%;
	border: 0px;
}

.svg-quote-youtube {
	width: 80px;
    height: 56px;  
}

.quote__content {
	margin-left: 55px;
	display: flex;

	&-icon {
		padding-top: 5px;
		flex: 0 0 50px;
	}

	&-info {
		margin-left: 20px;
		flex: 0 0 560px;
	}

	&-text {
		font-size: 25px;
		font-weight: 600;
		line-height: 1.55;
		color: rgb(0 0 0 / 90%);
	}

	&-card {
		margin-top: 51px;
		display: flex;
	}

	&-card-photo {
		flex: 0 0 100px;
		height: 100px;

		.img {
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&-card-data {
		margin-left: 30px;
	}

	&-name,
	&-position,
	&-link {
		font-size: 16px;
		line-height: 1.55;
		color: rgb(0 0 0 / 90%);
	}

	&-name {
		font-weight: 600;
	}

	&-position {
		font-weight: 400;
	}

	&-link {
		margin-top: 18px;
		display: block;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-color: $primary;
		text-decoration-thickness: 1px;
		text-underline-offset: 7px;
	}
}

.svg-quote-icon {
	width: 50px;
	height: 39px;
}


/* ==================================== */
/* ======== 7. VENDORS SECTION ======== */
/* ==================================== */

.vendors {
	padding: 163px 0 40px;

	&__headline {
		background-color: white;
		
		.headline__image-inner {
			width: 180px;
			height: 125px;
		}
	}
}

.vendors__slider {
	margin-top: 147px;

	&-list{
		display: flex;
	}

	&-item:first-child,
	&-item:nth-child(2),
	&-item:nth-child(3) {
		flex: 0 0 300px;

		.vendors__slider-image {
			margin: 0 0 0 18%;
		}
	}	

	&-item:last-child {
		flex: 0 0 260px;

		.vendors__slider-image {
			margin: 0 auto;
		}
	}

	&-image {
		max-width: 150px;
   		max-height: 90px;
		filter: grayscale(100%);

		&:hover {
			filter: grayscale(0);
		}
	}
}


/* ====================================== */
/* ======== 8. QUESTIONS-SECTION ======== */
/* ====================================== */

.questions {
	padding: 118px 0 40px;

	&__headline {
		padding: 41px 0;

		.headline__image-inner {
			width: 136px;
			height: 154px;
		}
	}
	
	&__card {
		border-radius: 4px;
    	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
	}

	&__card-wrap {
		margin-top: 63px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		max-width: 1190px;
	}
}

.questions__card-header {
	background-color: #ececec;

	&-inner {
		padding: 38px 45px 35px;
		display: flex;
	}

	&-icon {
		margin-right: 6px;
		align-self: flex-start;
	}
	
	
	&-title {
		font-size: 22px;
		font-weight: 600;
		line-height: 1.55;
	}

	&-counter {
		margin-left: auto;
		align-self: flex-start;
		font-size: 14px;
		font-weight: 500;
	}

	&-progressbar {
		display: block;
		width: 100%;
		height: 5px;
		background-color: #cbcbcb;
	}
}

.questions__card-body {
	padding: 35px 45px 82px;
}

.form-questions {
	&__title {
		font-size: 26px;
		font-weight: 600;
	}

	&__list {
		margin-top: 22px;
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child) {
		margin-bottom: 18px;
	}

	&__input {
		margin: 0 10px 0 0;
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		border: 2px solid #000;
		border-radius: 50%;
		cursor: pointer;
		appearance: none;

		&::-ms-expand { 
			display: none;
		}

		&:checked {
			&::after{
				content: '';
				position: absolute;
				margin: auto; /* Выравнивание по центру */
				top: 0; 
				bottom: 0;
				left: 0;
				right: 0;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: black;
			}
		}
	}

	&__label {
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 15px;
		font-weight: 300;
		cursor: pointer;
	}
}

.questions__card-footer {
	padding: 0 45px 50px;

	&-inner {
		display: flex;
		justify-content: space-between;
	}
}


.btn--questions-grey,
.btn--questions-blue {
	gap: 3px;
	height: 45px;
	width: 118px;
	border: 1px solid #0260e8;
	border-radius: 4px;
	font-size: 14px;
}

.btn--questions-grey {
	padding-right: 10px;
	background-color: #cbcbcb;
	opacity: 0.6;
}

.btn--questions-blue {
	padding-left: 11px;
}

.btn--questions-grey,
.btn--questions-blue {
	.btn__icon {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
	}
}

.svg-questions-icon {
	width: 20px;
	height: 20px;
}


/* ================================== */
/* ======== 9. ORDER-SECTION ======== */
/* ================================== */

.order {
	padding: 120px 0 60px;
	
	&__background {
		padding: 127px 0 124px;
		position: relative;
		background: url(../img/9_order/9_order_image_1.jpg) center/cover no-repeat; 
		background-attachment: fixed;
	}

	&__background-filter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.70);
	}

	&__content {
		position: relative;
	}

	&__title {
		margin: 0 auto;
		width: 820px;
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.45;
		color: white;

		.hl {
			color: $primary;
		}
	}
	
	&__subtitle {
		margin: 27px auto 0 auto;
		max-width: 580px;
		text-align: center;
		font-size: 20px;
		font-weight: 300;
		line-height: 33px;
		color: white;
	}

	&__button {
		margin-top: 72px;
		display: flex;
		justify-content: center;
	}
}

.btn--order {
	width: 400px;
	height: 60px;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: normal;

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}


/* ========================================= */
/* ======== 10. PRODUCTION SECTION  ======== */
/* ========================================= */

.production {
	padding: 68px 0 40px;

	&__headline {
		padding: 70px 0;

		.headline__title {
			padding-right: 500px;
		}
	}
}

.production__info-block {
	margin-top: 101px;

	.info-block__item:nth-child(2) {
		padding-right: 30px;
	}
	
	.info-block__item:nth-child(3) {
		padding-right: 42px;
	}

	.info-block__item:last-child {

		.info-block__text {
			padding-left: 22px;
		}
	}
}

.production__machines {
	margin-top: 119px;

	&-list {
		display: flex;
	}

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	
	&-image {
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 231px;
			height: 231px;
			border-radius: 50%;
			background-color: $primary;
			opacity: 0.08;
		}

		.img {
			position: relative;
		}
	}
	
	&-caption {
		margin-top: 33px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		
		.hl {
			color: $primary;
		}
	}
}

.production__machines-item--1st {
	flex: 1 1 600px;

	.production__machines-image {
		margin: 25px 0 0 100px;
		width: 372px;
		height: 208px;

		&::before {
			top: -24px;
			left: 85px;
		}
	}

	.production__machines-caption {
		padding: 0 190px;
	}
}

.production__machines-item--2nd {
	flex: 1 1 560px;

	.production__machines-image {
		margin: 45px 0 0 153px;
		width: 343px;
		height: 161px;

		&::before {
			top: -43px;
			left: 28px;
		}
	}

	.production__machines-caption {
		margin: 60px 0 0 40px;
		padding: 0px 100px;
	}
}


/* ================================== */
/* ======== 11. FAQ SECTION  ======== */
/* ================================== */

.faq {
	padding: 90px 0 40px;

	&__headline {
		padding: 71px 0;
	}

	&__main-block {
		margin-top: 74px;
		display: flex;
	}

	&__questions {
		flex: 0 0 660px;
	}

	&__form {
		margin: 6px 0 0 133px;
		flex: 0 0 380px; 
	}

	&__button-question {
		display: none;

		.btn__wrap {
			padding-right: 8px;
			padding-bottom: 10px;
		}
	}
}

.questions-faq {

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		border-top: 1px solid #f0f0f0;

		&:last-child {
			border-bottom: 1px solid #f0f0f0;
		}
	}

	&__header {
		padding: 25px 0 18px;
		display: flex;
	}

	&__header-title {
		padding-right: 10px;
		flex: 1 1 auto;
		font-size: 22px;
		font-weight: 500;

		.hl {
			color: $primary;
		}
	}

	&__icon {
		flex: 0 0 60px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__body {
		padding-bottom: 40px;
	}

	&__body-answer {
		color: #3d3d3d;
		line-height: 1.5;
	}

	&__body-link,
	&__body-link--underlined {
		color: $primary;
	}
	
	&__body-link--underlined {
		text-decoration: underline;
		text-decoration-color: $primary;
		text-decoration-thickness: 1px;
		text-underline-offset: 7px;
	}
}


.questions-faq__icon {
	flex: 0 0 40px;

	.icon-plus__wrap {
		position: relative;
		top: -4px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: $primary;
			border-radius: 50%;

			.icon-plus__element {
				background-color: white;
			}
		}

		&:active {
			transition: all 0.2s;
			transform: rotate(-45deg);

			.icon-plus__element {
				background-color: white;
			}
		}
	}
	
	.icon-plus {
		width: 24px;
		height: 24px;
	}
		
	.icon-plus__element {
		background-color: black;
	}
	
	.icon-plus__element:first-child {
		height: 1px;
	}
	
	.icon-plus__element:last-child {
		width: 1px;
	}
}

.faq__form {

	.standart-form__input {
		margin-bottom: 19px;
	}
	
	.standart-form__agreement {
		margin-top: 21px;
	}

	.standart-form__button {
		margin-top: 20px;
		height: 60px;
	}
}


/* ======================================= */
/* ======== 12. CONTACTS SECTION  ======== */
/* ======================================= */

.contacts {
	padding: 103px 0 40px;

	&__inner {
		display: flex;
	}

	&__content {
		margin-right: 200px;
		flex: 0 0 400px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 38px;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.1;

		.hl {
			color: $primary
		}
	}
	
	&__button {
		margin-top: 39px;
		padding-right: 8px;
	}	
}

.contacts__phone {
	margin-left: 3px;
	margin-bottom: 15px;
	display: flex;

	&-icon {
		margin-right: 23px;
		position: relative;
		top: 0px;
		left: -5px;
		transform: rotate(90deg);
	}

	&-text {
		font-size: 17px;
		font-weight: 600;
		color: #292929;
	}
}

.contacts__address {
	margin: 0 0 1px 2px;
	display: flex;

	&-icon {
		margin-right: 23px;
	}
	
	&-text {
		width: 280px;
		font-size: 16px;
		line-height: 1.1;
		font-weight: 400;
		letter-spacing: 0.3px;
		color: #292929;

		.hl {
			font-weight: 600;
		}
	}
}

.contacts__mail {
	margin-left: 2px;
	margin-bottom: 11px;
	display: flex;

	&-icon {
		margin-right: 25px;
	}
	
	&-text {
		font-size: 16px;
		font-weight: 600;
		color: #292929;
	}
}

.contacts__social {
	margin-top: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;

	&-whatsapp,
	&-telegramm,
	&-instagramm,
	&-facebook {
		&:hover {
			transition: 0.2s ease-in-out;
			opacity: 0.6;
		}
	}
}

.contacts__map {
	flex: 0 0 560px;
	overflow: hidden;

	&-inner {
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	}
}

#yandex-map {
	display: block;
}

#yandex-map--small {
	display: none;
}

.btn--contacts{

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}


/* ============================= */
/* ======== 13. FOOTER  ======== */
/* ============================= */

.footer {
	padding: 67px 0 80px;

	&__inner {
		display: flex;
	}

	&__site-map {
		flex: 0 0 300px;
	}
	
	&__extra {
		flex: 0 0 260px;
	}
}

.footer__block {
	margin-top: 8px;

	&-title {
		font-size: 18px;
		font-weight: 700;
		color: #292929;
	}

	&-list {
		margin-top: 25px;
	}

	&-item {
		margin-bottom: 6px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.5;
		color: #292929;

		.hl {
			font-weight: 600;
		}
		.hl--blue {
			color: $primary;
		}
	}
}

.footer__info {
	flex: 0 0 282px;

	.footer__block-list {
		margin-top: 13px;
	}

	.footer__block-list:nth-of-type(2) {
		margin-top: 49px;
	}

	.footer__block-item {
		line-height: 1.2;
	}

	&-link {
		font-size: 14px;
		font-weight: 600;
		color: rgb(2 96 232 / 70%);
	}
}

.footer__working-hours {
	padding: 0 0 5px 19px;
	flex: 0 0 320px;
	position: relative;


	&-frame {
		position: absolute;
		z-index: -1;
		top: 12px;
		left: 0;
		width: 231px;
		height: 240px;
		border: 1px solid rgb(2 96 232 / 60%);
	}

	.footer__block-title {
		margin-left: -12px;
		padding: 0px 12px;
		position: relative;
		display: inline-block;
		background-color: white;
	}

	.footer__block-item {
		line-height: 1.58;
	}
}

.svg-logo--footer {
	width: 152px;
    height: 44px;
}