// Все ли h2 действительно h2?
// footer - social-block отступ под svg у a
// Дарим скидку должна появляться после button:hover - как правильно: через visibility or opacity?
// Нужно ли делать продольные полосы через весь макет


@use 'mixins' as *;

@import url("./custom_css_reset.css");
@import url("../fonts/fonts.css");



/* ===== VARIABLES ===== */

$primary: #0260e8;


/* =============================== */
/* ======== GLOBAL STYLES ======== */
/* =============================== */

body {
	position: relative; /* чтобы на header не попадали нижние блоки при прокрутке */

	width: 100%;
	min-width: 320px;
	/* overflow-x: hidden; */

	font-family: 'Circe', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hidden {
	display:none!important;
}


/* ======== GLOBAL STYLES. BUTTON ======== */

// .btn-wrap задается для создания декоративной рамки под кнопкой. Рамку нельзя сделать через псевдоэлемент, примененный к .btn, так как она будет перед самой кнопкой. .btn задается relative-позиционирование для изменения отражения курсора при наведении c помощью z-index. 

.btn {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 18px;
    line-height: 1.35;
    letter-spacing: 0.5px;
	color: white;

	width: 300px;
    height: 65px;
	border: 2px solid $primary;
	background-color: $primary;
	
	cursor: pointer;
}

.btn__wrap {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 8px;
		display: block;

		width: 300px;
		height: 65px;
		border: 1px solid $primary;
	}
}

/* ======== GLOBAL STYLES. HEADLINE ======== */

.headline {
	margin: 0 auto;
	max-width: 1310px;
	background-color: rgba(2, 96, 232, 0.08);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 40px;
		font-weight: 700;
		line-height: 1.2;
	
		.hl {
			color: $primary;
		}

		.second-line {
			display: block;
		}
	}
	
	&__image {
		flex: 0 0 260px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 991px) {

	.headline__title {
		font-size: 36px;
	}
}


// .separator {
// 	position: relative;

// 	::after {
// 		content: "";
// 		display: inline-block;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 1px;
// 		height: 100%;
// 		background-color: black;
// 	}
// }

// .devider-block {
// 	position:absolute;
// 	width: 1160px;
// 	height: 100%;
// 	top: 0;
// 	left: 50%;
// 	transform: translateX(-50%);

// 	display: flex;

// 	&__line {
// 		/* display: inline-block; */
// 		display: block;
// 		height: 100%;
// 	}

// 	&__line:first-child,
// 	&__line:nth-child(2),
// 	&__line:nth-child(3) {
// 		flex: 0 0 300px;
// 		/* margin-left: 300px; */
// 		border-left: 1px solid rgb(230 230 230 / 40%);
// 	}

// 	&__line:last-child {
// 		flex: 0 0 260px;
// 		/* margin-left: 260px; */
// 		border-left: 1px solid rgb(230 230 230 / 40%);
// 		border-right: 1px solid rgb(230 230 230 / 40%);
// 	}
// }

/* ======== GLOBAL STYLES. INFO-BLOCK ======== */

.info-block {

	&__list {
		display: flex;
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		/* border-left: 1px solid black; */
	}

	&__item:first-child,
	&__item:nth-child(2),
	&__item:nth-child(3) {
		flex: 0 0 300px;
	}

	&__item:last-child {
		flex: 0 0 260px;
		/* border-right: 1px solid black; */
	}

	&__icon {
		margin-left: -11px;
		flex: 0 0 20px;
	}
	
	&__text {
		padding-left: 28px;
		font-size: 25px;
		font-weight: 600;
		line-height: 1.2;

		.hl {
			color: $primary;
		}

		.second-line {
			display: block;
		}
	}
}


@media (max-width: 1199.5px) {

	.info-block {

		&__list {
			justify-content: space-between;
		}
		
		&__icon {
			margin-left: 0px;
		}
		
		&__text {
			padding-left: 10px;
			font-size: 23px;
		}
	}
}


@media (max-width: 991px) {

	.info-block {

		&__list {
			padding-left: 40px;
			flex-wrap: wrap;
			row-gap: 40px;
		}

		&__text {
			padding-left: 30px;
		}
	}
}


/* ======== GLOBAL STYLES. FORM ======== */

.standart-form {
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	
	&__input {
		padding: 0 20px;
		width: 100%;
		height: 50px;
		border: 1px solid #dbdbdb;
		background-color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		outline: none; 

		&::placeholder {
			color: rgba( 0, 0, 0, 0.4 );
		}
	}

	&__input-telephone {
		padding: 0 20px 0 5px;
		width: 100%;
		height: 100%;
		border: none;
		background-color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		outline: none; 

		&::placeholder {
			color: rgba( 0, 0, 0, 0.4 );
		}
	}

	&__input-checkbox {
		margin: 0 10px 0 1px;
		position: relative;
		height: 20px;
		width: 20px;
		border: 2px solid #000;
		cursor: pointer;
    	opacity: 0.6;
		transition: all 0.2s;

		appearance: none;
		&::-ms-expand { 
			display: none;
		}

		&:checked {
			opacity: 1;
			transition: all 0.2s;

			&::after{
				content: '';
				position: absolute;
				left: 6px;
				top: 2px;
				box-sizing: content-box;
				width: 3px;
				height: 8px;
				border: solid #000;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}
	}

	&__telephone {
		padding: 0 0 0 21px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		border: 1px solid #dbdbdb;
		background-color: #ffffff;

		&-phonemask {
			display: flex;
			align-items: center;
			position: relative;

			&::after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 27px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 5px 4px 0;
				border-color: #9a9a9a transparent transparent;
			}
		}

		&-flag {
			display: inline-block;
			width: 18px;
			height: 13px;
			background: url(../img/5_request/request_flags.png) -285px -281px no-repeat;
			box-shadow: 0 0 5px rgb(0 0 0 / 30%);
		}

		&-prefix {
			margin-left: 24px;
			display: inline-block;
		}
	}
	
	&__agreement {
		display: flex;
		align-items: center;

		&-link {
			margin-left: 3px;
			font-size: 14px;
			font-weight: 400;
			color: $primary;
		}
	}

	&__label {
		font-size: 14px;
		font-weight: 400;
		cursor: pointer;
	}

}

.btn--standart-form,
.btn__wrap--standart-form,
.btn__wrap--standart-form::after {
	width: 100%;
	height: 100%;
}

.btn--standart-form {
	font-size: 14px;
	letter-spacing: normal;
}


/* ======== GLOBAL STYLES. ANIMATION ======== */

.animation-flash {
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 45px;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
		transform: skewX(-45deg);
		animation: flash 3s linear infinite;
	}
}

@keyframes flash {

	0% {
		left: -20%;
	}

	20%, 100% {
		left: 120%;
	}
} 


/* ======== GLOBAL STYLES. ICONS ======== */

.icon-plus {
	position: relative;
	width: 20px;
	height: 20px;

	&__element {
		position: absolute;
		background-color: $primary;
	}

	&__element:first-child {
		top: 50%;
		left: 0;
		right:0;
		transform: translateY(-50%);
		height: 4px;
	}

	&__element:last-child {
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 4px;
	}
}

.svg-nav {
	width: 19px;
	height: 19px;
}

.svg-phone {
	width: 17px;
	height: 17px;
}

.svg-mail {
	width: 17px;
	height: 17px
}

.svg-whatsapp {
	width: 25px;
	height: 25px;
}

.svg-telegramm {
	width: 22px;
	height: 22px;
}

.svg-instagramm {
	width: 21px;
	height: 21px;
}


.svg-facebook {
	width: 13px;
	height: 22px;
}

.svg-on-top {
	width: 50px;
	height: 50px;
}



/* ============================== */
/* ======== 1. HEADER =========== */
/* ============================== */

.header {
	position: fixed;
	z-index: 10;

	padding: 18px 0 4px;
	width: 100%;
	background-color: white;

	&__hamb {
		display: none;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__inner {
		display: flex;
		width: 100%;
	}

	&__logo {
		margin-right: 70px;
		flex: 0 0 143px;

	}
	
	&__nav {
		flex: 0 0 314px;
		margin-right: 75px;
	}
}

.hamb {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $primary;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 22px;
		height: 14px;
	}

	&__bar {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
}


.nav {

	&__menu {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__item {
		font-size: 16px;
		line-height: 1.55;
		font-weight: 600;
		opacity: 0.8;

		&:hover {
			color: $primary;
		}
	}

	&__item:first-child {
		margin-right: 38px;
	}

	&__item:last-child {
		margin-left: auto;
	}

	&__link {

	}
}

.header__address {
	margin-right: 65px;
	flex: 0 0 236px;
	display: flex;
	align-items: center;

	&-icon {
		margin-right: 25px;
	}
	
	&-text {
		padding-top: 12px;
		text-align: center;
		font-size: 14px;
		line-height: 1.15;
		font-weight: 400;
		opacity: 0.8;
	}
}

.header__contacts {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;

	&-phone {
		display: flex;

		&-icon {
			margin-right: 8px;
			position: relative;
			top: -2px;
			left: -5px;
			transform: rotate(90deg);
		}
		
		&-text {
			font-size: 15px;
			line-height: 1.2;
			font-weight: 600;
			opacity: 0.8;
		}
	}
	
	&-email {
		display: flex;

		&-icon {
			margin-right: 11px;
		}
		&-text {
			font-size: 15px;
			line-height: 1.25;
			font-weight: 400;
			opacity: 0.8;
		}
	}
}

.header__social {
	margin: 0 0 0 auto;
	flex: 0 0 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&-whatsapp,
	&-telegramm {

		&:hover {
			transition: 0.2s ease-in-out;
			opacity: 0.6;
		}
	}
}

.svg-logo {
	width: 143px;
	height: 40px;
}

/* + GLOBAL STYLES */



@media (max-width: 1199.5px) {

	.header {
		padding: 20px 0;
		position: static;

	
		&__inner {
			justify-content: space-between;
		}

		&__logo {
			margin-right: 15px;
		}

		&__nav {
			flex: 0 1 314px;
		}

		&__social {
			flex: 0 0 55px;
			margin-left: 0;
		}

		&__nav,
		&__address,
		&__contacts {
			margin-right: 25px;
		}
	}

	.nav {

		&__menu {
			justify-content: space-between;
		}
	
		&__item:first-child,
		&__item:last-child {
			margin: 0;
		}
	}
}


@media (max-width: 991px) {
	
	.header {

		&__hamb {
			display: block;
		}

		&__nav,
		&__address,
		&__contacts {
			display: none;
		}

		&__social {
			flex: 0 0 68px;
		}
	}
}


/* ================================= */
/* ======== 2. HERO-SECTION ======== */
/* ================================= */

.hero {
	padding: 120px 0 119px;
	position: relative;

	&__background-block {
		margin: 0 auto;
		padding: 82px 0 266px;
		max-width: 1310px;
		background-color: #f8f8f8
	}

	&__lead {
		padding-top: 50px;
		width: 605px;
	}
	
	&__title {
		font-size: 41px;
		line-height: 1.3;
		font-weight: 700;
		letter-spacing: 0.5px;

		.hl {
			color: $primary;
		}
	}
	
	&__subtitle {
		font-size: 28px;
		line-height: 1.25;
		font-weight: 600;
		letter-spacing: 0.4px;

		.hl {
			color: $primary;
		}
	}
	
	/* .hero__main-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
	} */

	&__desc {
		margin: -573px 0 0 auto;
		width: 265px;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 500;
		letter-spacing: 0.1px;
		color: #292929;
		opacity: 0.85;

		.hl {
			font-weight: 600;
			color: $primary;
		}
	}
}


.hero__machine {
	margin-top: -384px;

	&-inner {
		position: relative;
		left: 22.3%;
		display: inline-block;

		/* blue circle */
		&::before {
			content: "";
			position: absolute;
			top: 0px;
    		left: 23.8%;
			display: block;
			width: 491px;
			height: 491px;
			border-radius: 50%;
			background-color: rgba(2, 96, 232, 0.08);
		}
	}

	&-image {
		margin-top: 75px;
		position: relative;
		width: 752px;
		height: 420px;
	}

	&-tooltip {
		position: relative;
	}

	&-tooltip-icon {
		line-height: 0;
		border-radius: 50%;
		background-color: $primary;

		&:hover + .hero__machine-tooltip-content {

			&::before {
				display: inline-block;
				transition: 0.2s ease-in-out;
				opacity: 1;
			}
		}
	}

	&-tooltip-content {
		// position: relative;
		// display: inline-block;

		&::before {
			/* display: none; */
			content: "";
			position: absolute;
			top: 50%;
    		transform: translateY(-50%);
			/* display: inline-block; */
			padding: 15px;
			background-color: #ffffff;
			border-radius: 10px;
			box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
			font-size: 14px;
			line-height: 1.4;
			font-weight: 400;
			opacity: 0;
			transition: 0.2s ease-in-out;
			transition-delay: 0.3s;
		}
	}

	&-tooltip-wrap--1 {
		position: absolute;
		z-index: 2;
		left: 25.2%;
		top: 28.3%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Электронное изменение угла поворота пилы, позволяет делать максимально точные срезы под любые задачи наших заказчиков";
				position: absolute;
				right: 40px;
				width: 285px;
			}
		}
	}

	&-tooltip-wrap--2 {
		position: absolute;
		z-index: 2;
		left: 83.5%;
		top: 25.6%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Расширенный стол с роликом для подачи заготовки + 4 направляющих ролика качения, ускоряют выполнения заказа без брака";
				position: absolute;
				left: 40px;
				width: 235px;
			}
		}
	}

	&-tooltip-wrap--3 {
		position: absolute;
		z-index: 2;
		left: 43.7%;
		top: 93.2%;

		.hero__machine-tooltip-content {
			&::before {
				content: "Профессиональное Австрийское оборудование в тандеме с опытными специалистами, позволяют давать гарантию на наши услуги";
				position: absolute;
				right: 40px;
				width: 275px;
			}
		}
	}
}

.hero__info-block {
	margin-top: 670px;

	.info-block__item:nth-child(2) {
		padding-right: 30px;
	}

	.info-block__item:nth-child(3) {
		padding-right: 42px;
	}
}


/* + global styles - info-block */

.svg-service-icon {
	display: block;
	width: 125px;
	height: 125px;
}

/* btn--hero-calc */

.hero__button-calc-block {
	margin-top: 23px;
}

.hero__button-calc-tooltip {
	opacity: 0;
	transition: 0.2s ease-in-out;
	margin: 14px 0 0 10px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;

	.hl {
		font-weight: 600;
		color: $primary;
	}
}

.btn--hero-calc {
	transition: 0.2s ease-in-out;
	
	&:hover {
		background-color: #ffffff;
		color: $primary;
		transition: 0.2s ease-in-out;

		& + .hero__button-calc-tooltip {
			opacity: 0.75;
			transition: 0.2s ease-in-out;
		}
	}
}

/* btn--hero-order */

.hero__button-order {
	position: absolute;
	bottom: 230px;
	right: 20px;
}

.btn--hero-order {
	width: 173px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	border: none;
}

.svg-plus {
	width: 25px;
	height: 25px;
}


@media (max-width: 1199.5px) {

	.hero {
		padding: 0 0 60px;

		&__background-block {
			padding: 40px 0 420px;
		}


		&__desc {
			margin: -500px 0 0 690px;
		}
	}

	.hero__machine {
		margin-top: -475px;

		&-image {
			width: 632px;
			height: 352px;
		}
	
		&-inner {
			left: 14%;
	
			&::before {
				width: 413px;
				height: 413px;
				top: 2%;
			}
		}
	}	

	.hero__info-block {
		margin-top: 500px;

		.info-block__item:first-child {
			flex: 0 0 220px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 240px;
			padding-right: 0px;
		}

		.info-block__item:nth-child(3) {
			flex: 0 0 240px;
			padding-right: 0px;
		}

		.info-block__item:last-child {
			flex: 0 0 225px;
		}
	}
}


@media (max-width: 991px) {
	
	.hero {
		padding: 0px 0 30px;

		&__title {
			font-size: 37px;
		}
		
		&__subtitle {
			font-size: 24px;
		}



		&__desc {
			margin: -497px 0 0 360px;
			width: 235px;
		}
	
		&__background-block {
			padding: 40px 0 470px;
		}

		&__button-order {
			bottom: 330px;
		}
	}
	
	.hero__machine {
		margin-top: -450px;

		&-image {
			width: 542px;
			height: 303px;
			margin-top: 54px;
		}
	
		&-inner {
			left: 30px;

			&::before {
				width: 373px;
				height: 373px;
				top: 0%;
			}
		}
	
		&-tooltip-wrap--1 {
			left: 26.5%;
			top: 22.3%;

			.hero__machine-tooltip-content::before {
				width: 215px; 
				right: 0px;
    			top: 40px;
				transform: translateY(0);
			}
		}
	
		&-tooltip-wrap--2 {
			left: 86.2%;
			top: 22.6%;

			.hero__machine-tooltip-content::before {
				width: 315px;
    			top: -100px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	
		&-tooltip-wrap--3 {
			left: 56%;
			top: 100%;
		}
	}


	.hero__info-block {
		margin-top: 540px;

		.info-block__item:first-child {
			flex: 0 0 300px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 300px;
			padding-right: 0px;
		}

		.info-block__item:nth-child(3) {
			flex: 0 0 300px;
			padding-right: 0px;
		}

		.info-block__item:last-child {
			flex: 0 0 300px;
		}
	}
}


/* ==================================== */
/* ======== 3. SERVICE-SECTION ======== */
/* ==================================== */

.service {
	padding: 100px 0 200px;
	position: relative;
}

.service__basic-headline {
	padding: 46px 0;
	
	.headline__image-inner {
		width: 180px;
		height: 144px;
	}
}

.service__list {
	margin-top: 29px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.service__item {
	padding-top: 65px;
    padding-bottom: 49px;
	display: flex;
	flex-direction: column;

	&:nth-child(4n+1),
	&:nth-child(4n+2),
	&:nth-child(4n+3) {
		flex: 0 0 300px;
	}

	&:nth-child(4n+4) {
		flex: 0 0 260px;
	}

	&-icon {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&-title {
		margin-top: 20px;
		text-align: center;
		font-weight: 600;
	}
	&-desc {
		margin-top: 18px;
		text-align: center;
		font-size: 14px;
		line-height: 1.65;
		font-weight: 500;
	}
}

.service__basic-item--1st,
.service__basic-item--2nd,
.service__basic-item--3rd,
.service__basic-item--4th {
	border-bottom: 1px solid rgb(230 230 230 / 70%);
	
}

.service__basic-item--5th {
	.service__item-desc {
		flex: 0 0 46.19px;
	}
}

.svg-service-basic-icon-1 {
	width: 55px;
    height: 45px;
}
.svg-service-basic-icon-2 {
	width: 50px;
    height: 50px;
}

.svg-service-basic-icon-3,
.svg-service-basic-icon-4,
.svg-service-basic-icon-5,
.svg-service-basic-icon-6 {
	width: 60px;
	height: 60px;
}

.svg-service-basic-icon-7 {
	width: 56px;
    height: 50px;
}

.svg-service-basic-icon-8 {
	width: 60px;
	height: 52.4px;
}


.service__extra {

	.service__list {
		margin-top: 17px;
	}

	&-headline {
		margin-top: 89px;
		padding: 46px 0;
		
		.headline__image-inner {
			width: 150px;
			height: 146px;
		}
	}
}


.svg-service-extra-icon-1,
.svg-service-extra-icon-2,
.svg-service-extra-icon-4 {
	width: 70px;
	height: 70px;
}

.svg-service-extra-icon-3 {
	width: 75px;
	height: 75px;
}

.service__button-consultation {
	margin-top: 43px;
	padding-left: 40px; /* смещена относительно центра */
	display: flex;
	justify-content: center;
	// left: 50%; 
    // transform: translateX(-130px);
}

.btn--service-consulation {
	position: relative;
	z-index: 2;
	transition: 0.2s ease-in-out;

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}

.service__button-on-top {
	position: absolute;
	top: 0;
	left: 30px;
}


@media (max-width: 1199.5px) {

	.service {
		padding: 50px 0 60px;

		.headline {
			padding: 25px 0;
		}
		
		.headline__image-inner {
			width: 120px;
			height: 96px;
		}

		&__button-on-top {
			top: -30px;
		}

		&__item {
			/* padding-top: 52px;
			padding-bottom: 48px;
			display: flex;
			flex-direction: column; */
		
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				flex: 0 0 25%;
			}
		}

		&__extra-headline {
			margin-top: 20px;
		}

		&__button-consultation {
			margin-top: 23px;
		}
	}
}


@media (max-width: 991px) {

	.service {

		&__list {
			justify-content: center;
		}
	
		&__item {
	
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding-top: 30px;
				padding-bottom: 30px;
				flex: 0 0 33.3%;
				border: none;
			}
		}
	}


	.service__extra {

		.service__item {
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding-top: 30px;
				padding-bottom: 30px;
				flex: 0 0 50%;
			}
		}
	}
}


/* ===================================== */
/* ======== 4. BENEFITS-SECTION ======== */
/* ===================================== */

.benefits {
	padding: 76px 0 30px;

	&__title {
		position: sticky;
		top: 250px;
		padding-bottom: 20px;
		font-size: 40px;
		line-height: 1.2;
		font-weight: 700;

		.second-line {
			display: block;
		}

		.hl {
			color: $primary;
		}
	}

	&__list {
		margin-left: 600px;
		display: flex;
		flex-direction: column;
	}
}

.benefits__item {

	&-number {
		font-size: 156px;
		font-weight: 700;
		line-height: 1;
		color: rgba( 0, 0, 0, 0.04 );
	}

	&-title {
		margin-top: -95px;
		padding-right: 150px;
		font-size: 30px;
		line-height: 1.2;
		font-weight: 600;

		.hl {
			color: $primary;
		}
	}

	&-desc {
		position: relative;
		margin-top: 43px;
		padding-right: 130px;
		font-size: 16px;
		line-height: 1.6;
		font-weight: 400;
		color: rgba( 0, 0, 0, 0.75 );

		&::before {
			content: '';
			position: absolute;
			top: -23px;
			left: 0;
			display: inline-block;
			width: 60px;
  			height: 2px;
			background-color: $primary;
		}

		.hl {
			color: black;
		}
	}
}

.benefits__item--1st {
	.benefits__item-desc {
		padding-right: 130px;
	}

}

.benefits__item--2nd {
	margin-top: 76px;

	.benefits__item-title {
		padding-right: 200px;
	}

	.benefits__item-desc {
		padding-right: 130px;
	}
}

.benefits__item--3rd {
	margin-top: 75px;

	.hl {
		display: block;
		line-height: 1.1;
	}

	.benefits__item-desc {
		padding-right: 155px;
	}
}

.benefits__slider {
	margin-top: 215px;

	&-image {
		max-width: 1160px;
		height: 775px;
	}

	img {
		object-fit: cover;
	}
}



@media (max-width: 1199.5px) {

	.benefits {
		padding: 76px 0 30px;
		
		&__title {
			position: static;
		}

		&__list {
			margin-left: 0;
			flex-direction: row;
			justify-content: space-between;
			row-gap: 60px;
			flex-wrap: wrap;
		}
	
		&__item {
			flex: 0 0 47%;
		}

		&__slider {
			margin-top: 100px;
		}

		&__slider-image {
			height: 636px;
		}
	}

	.benefits__item--1st,
	.benefits__item--2nd,
	.benefits__item--3rd  {
		margin-top: 0;

		.benefits__item-title {
			padding-right: 0;
		}
		.benefits__item-desc {
			padding-right: 0;
		}
	}
	
	.benefits__item--1st,
	.benefits__item--3rd  {
		flex: 0 0 50%;
	}

	.benefits__item--2nd {
		flex: 0 0 46%;
	}
}

@media (max-width: 991px) {

	.benefits {
		padding: 60px 0 30px;

		&__title {
			padding-right: 100px;
			font-size: 36px;
	
			.second-line {
				display: inline;
			}
		}
		
		&__list {
			row-gap: 40px;
		}

		&__item {
			flex: 0 0 80%;
		}

		&__slider {
			margin-top: 70px;
		}

		&__slider-image {
			height: 413px;
		}
	}

	.benefits__item--1st {
		.benefits__item-title {
			padding-right: 150px;
		}
	}

	.benefits__item--2nd,
	.benefits__item--3rd { 

		.benefits__item-title {
			padding-right: 200px;
		}
	}
}


/* ==================================== */
/* ======== 5. REQUEST-SECTION ======== */
/* ==================================== */

.request {
	padding: 115px 0 120px;

	&__background-block {
		margin: 0 auto;
		padding: 50px 0 57px;
		max-width: 1310px;
		background-color: rgba(2, 96, 232, 0.08);
	}
	
	&__inner {
		display: flex;
		align-items: center;
	}

	&__title {
		flex: 0 0 600px;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.25;
		color: #292929;

		.second-line {
			display: block;
		}

		.hl {
			color: $primary;
		}
	}
	
	&__form {
		flex: 0 0 400px;
	}
}

.request__form {

	.standart-form__input {
		margin-bottom: 19px;
	}
	
	.standart-form__agreement {
		margin-top: 21px;
	}

	.standart-form__button {
		margin-top: 20px;
		height: 60px;
	}
}


@media (max-width: 1199.5px) {

	.request {
		padding: 65px 0 70px;
	
		&__inner {
			justify-content: space-between;
		}
	
		&__title {
			flex: 0 0 auto;
		}
	
		&__form {
			flex: 0 0 auto;
		}
	}
}

@media (max-width: 991px) {

	.request {
		padding: 65px 0 50px;

		&__background-block {
			padding: 50px 0 70px;
		}

		&__inner {
			flex-direction: column;
			row-gap: 40px;
		}

		&__title {
			font-size: 36px;
			align-self: flex-start;
		}
		
		&__form {
			width: 400px;
		}
	}
}


/* ================================== */
/* ======== 6. QUOTE BLOCK ========== */
/* ================================== */

.quote {
	padding: 40px 0 60px;

	&__inner {
		display: flex;
	}
}

.quote__video {
	padding-top: 8px;
	flex: 0 0 475px;

	&-player {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 21px;
	 		left: 20px;
			display: block;
			width: 452px;
			height: 252px;
			border: 1px solid $primary;
			opacity: 0.55;
		}

		iframe {
			position: relative;
			border: 0px;
		}
	}
}

.quote__content {
	margin-left: 55px;
	display: flex;

	&-icon {
		padding-top: 5px;
		flex: 0 0 50px;
	}

	&-info {
		margin-left: 20px;
		flex: 0 0 560px;
	}

	&-text {
		font-size: 25px;
		font-weight: 600;
		line-height: 1.55;
		color: rgb(0 0 0 / 90%);
	}

	&-card {
		margin-top: 51px;
		display: flex;
	}

	&-card-photo {
		flex: 0 0 100px;
		height: 100px;

		.img {
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&-card-data {
		margin-left: 30px;
	}

	&-name,
	&-position,
	&-link {
		font-size: 16px;
		line-height: 1.55;
		color: rgb(0 0 0 / 90%);
	}

	&-name {
		font-weight: 600;
	}

	&-position {
		font-weight: 400;
	}

	&-link {
		margin-top: 18px;
		display: block;
		font-weight: 500;
		text-decoration: underline;
		text-decoration-color: $primary;
		text-decoration-thickness: 1px;
		text-underline-offset: 7px;
	}
}

.svg-quote-icon {
	width: 50px;
	height: 39px;
}


@media (max-width: 1199.5px) {

	.quote__content {
		margin-left: 30px;
	
		&-text {
			font-size: 23px;
			line-height: 1.3;
		}
		
		&-card {
			margin-top: 40px;
		}
		
		&-info {
			margin-left: 20px;
			flex: 0 0 390px;
		}
	}
}


@media (max-width: 991px) {

	.quote {
		
		&__inner {
			flex-direction: column;
			align-items: center;
			row-gap: 50px;
		}
		
		&__video {
			padding-top: 0;
			flex: 0 0 auto;
		}
		
		&__content {
			margin-left: 0;
			justify-content: center;
		}

		&__content-info {
			flex: 0 0 520px;
		}
	}
}



/* ==================================== */
/* ======== 7. VENDORS SECTION ======== */
/* ==================================== */

.vendors {
	padding: 163px 0 40px;

	&__headline {
		background-color: white;
		
		.headline__image-inner {
			width: 180px;
			height: 125px;
		}
	}
}

.vendors__slider {
	margin-top: 147px;

	&-list{
		display: flex;
	}
	
	&-item {

	}

	&-item:first-child,
	&-item:nth-child(2),
	&-item:nth-child(3) {
		flex: 0 0 300px;

		.vendors__slider-image {
			margin: 0 0 0 18%;
		}
	}	

	&-item:last-child {
		flex: 0 0 260px;

		.vendors__slider-image {
			margin: 0 auto;
		}
	}

	&-image {
		width: 150px;
		height: 90px;
		filter: grayscale(100%);

		&:hover {
			filter: grayscale(0);
		}
	}
}


@media (max-width: 1199.5px) {

	.vendors {
		padding: 60px 0 40px;
	
		.headline__image {
			flex: 0 0 200px;
		}

		&__slider {
			margin: 80px auto 0 auto;
			width: 85%;
		}

		&__slider-item:first-child,
		&__slider-item:nth-child(2),
		&__slider-item:nth-child(3),
		&__slider-item:last-child  {
			flex: 0 0 25%;
	
			.vendors__slider-image {
				margin: 0;
			}
		}
	}
}


@media (max-width: 991px) {
	
	.vendors {

		.headline__image {
			display: none;
		}
		
		&__slider {
			width: 90%;
			margin: 50px auto 0 auto;
		}
	}
}

/* ==================================== */
/* ======== 8. REQUEST-SECTION ======== */
/* ==================================== */

.questions {
	padding: 118px 0 40px;

	&__headline {
		padding: 41px 0;
		.headline__image-inner {
			width: 136px;
			height: 154px;
		}
	}
	
	&__card {
		margin-top: 63px;
		border-radius: 4px;
    	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
	}
}

.questions__card-header {
	background-color: #ececec;

	&-inner {
		padding: 38px 45px 35px;
		display: flex;
	}

	&-icon {
		margin-right: 6px;
		align-self: flex-start;
	}
	
	
	&-title {
		font-size: 22px;
		font-weight: 600;
		line-height: 1.55;
	}

	&-counter {
		margin-left: auto;
		align-self: flex-start;
		font-size: 14px;
		font-weight: 500;
	}

	&-progressbar {
		display: block;
		width: 100%;
		height: 5px;
		background-color: #cbcbcb;
	}
	
}

.questions__card-body {
	padding: 35px 45px 82px;
}

.form-questions {
	&__title {
		font-size: 26px;
		font-weight: 600;
	}

	&__list {
		margin-top: 22px;
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child) {
		margin-bottom: 18px;
	}

	&__input {
		margin: 0 10px 0 0;
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		border: 2px solid #000;
		border-radius: 50%;
		cursor: pointer;
		appearance: none;

		&::-ms-expand { 
			display: none;
		}

		&:checked {
			&::after{
				content: '';
				position: absolute;
				margin: auto; /* Выравнивание по центру */
				top: 0; 
				bottom: 0;
				left: 0;
				right: 0;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: black;
			}
		}
	}

	&__label {
		font-family: 'Ubuntu', Arial, sans-serif;
		font-size: 15px;
		font-weight: 300;
		cursor: pointer;
	}
}

.questions__card-footer {
	padding: 0 45px 50px;

	&-inner {
		display: flex;
		justify-content: space-between;
	}
}

%btn--questions {
	gap: 3px;
	height: 45px;
	width: 118px;
	border: 1px solid #0260e8;
	border-radius: 4px;
	font-size: 14px;
}

.btn--questions-grey {
	@extend %btn--questions;
	padding-right: 10px;
	background-color: #cbcbcb;
	opacity: 0.6;
}

.btn--questions-blue {
	@extend %btn--questions;
	padding-left: 11px;
}

.btn--questions-grey,
.btn--questions-blue {
	.btn__icon {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
	}
}

.svg-questions-icon {
	width: 20px;
	height: 20px;
}


@media (max-width: 1199.5px) {

	section.questions {
		padding: 58px 0 30px;
	
		.headline {
			padding: 30px 0;
		}
	
		.headline__image {
			flex: 0 0 165px;
		}
	}
}


@media (max-width: 991px) {
	.questions {

		.headline__image-inner {
			width: 106px;
			height: 120px;
		}
		
		&__card {
			margin-top: 43px;
		}
	}

}



/* ================================== */
/* ======== 9. ORDER-SECTION ======== */
/* ================================== */

.order {
	padding: 120px 0 60px;
	
	&__background {
		padding: 127px 0 124px;
		position: relative;
		background: url(../img/9_order/9_order_image_1.jpg) center/cover no-repeat; 
		background-attachment: fixed;
	}

	&__background-filter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.70);
	}

	&__content {
		position: relative;
	}

	&__title {
		margin: 0 auto;
		max-width: 820px;
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.45;
		color: white;

		.hl {
			color: $primary;
		}
	}
	
	&__subtitle {
		margin: 27px auto 0 auto;
		max-width: 580px;
		text-align: center;
		font-size: 20px;
		font-weight: 300;
		line-height: 33px;
		color: white;
	}

	&__button {
		margin-top: 72px;
		display: flex;
		justify-content: center;
	}
}

.btn--order {
	width: 400px;
	height: 60px;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: normal;

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}


@media (max-width: 1199.5px) {
	
	.order {
		padding: 80px 0 60px;
	}
}


@media (max-width: 991px) {

	.order {
		padding: 50px 0 50px;

		&__title {
			padding: 0 80px;
			font-size: 36px;
		}
		
		&__subtitle {
			font-size: 16px;
		}
		
		&__background {
			padding: 100px 0 100px;
		}
		
		&__button {
			margin-top: 40px;
		}
	}
}


/* ========================================= */
/* ======== 10. PRODUCTION SECTION  ======== */
/* ========================================= */

.production {
	padding: 68px 0 40px;

	&__headline {
		padding: 70px 0;

		.headline__title {
			padding-right: 500px;
		}
	}
}

.production__info-block {
	margin-top: 101px;

	.info-block__item:nth-child(2) {
		padding-right: 30px;
	}
	
	.info-block__item:nth-child(3) {
		padding-right: 42px;
	}

	.info-block__item:last-child {

		.info-block__text {
			padding-left: 22px;
		}
	}
}

.production__machines {
	margin-top: 119px;

	&-list {
		display: flex;
	}

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		/* align-items: center;; */
	}
	
	&-image {
		position: relative;

		&::before {
			content: "";
			display: inline-block;
			position: absolute;
			width: 231px;
			height: 231px;
			border-radius: 50%;
			background-color: $primary;
			opacity: 0.08;
		}

		.img {
			position: relative;
		}
	}
	
	&-caption {
		margin-top: 33px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		
		.hl {
			color: $primary;
		}
	}
}

.production__machines-item--1st {
	flex: 1 1 600px;

	.production__machines-image {
		margin: 25px 0 0 100px;
		width: 372px;
		height: 208px;

		&::before {
			top: -24px;
			left: 85px;
		}
	}

	.production__machines-caption {
		padding: 0 190px;
	}
}

.production__machines-item--2nd {
	flex: 1 1 560px;

	.production__machines-image {
		margin: 45px 0 0 153px;
		width: 343px;
		height: 161px;

		&::before {
			top: -43px;
			left: 28px;
		}
	}

	.production__machines-caption {
		margin: 60px 0 0 40px;
		padding: 0px 100px;
	}
}


@media (max-width: 1199.5px) {
	
	.production {
		padding: 60px 0 40px;
	
		.headline {
			padding: 50px 0;
		}
		
		.headline__title {
			padding-right: 250px;
		}
	
	}

	.production__info-block {
		margin-top: 60px;

		.info-block__item:first-child {
			flex: 0 0 190px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 210px;
			padding-right: 0px;
		}

		.info-block__item:nth-child(3) {
			flex: 0 0 220px;
			padding-right: 0px;
		}

		.info-block__item:last-child {
			flex: 0 0 255px;
		}
	}


	.production__machines {
		margin-top: 80px;

		&-item--1st {
			flex: 0 0 50%;
	
			.production__machines-image {
				margin: 27px auto 0 auto;
			}
	
			.production__machines-caption {
				padding: 0 130px;
				margin: 30px 0 0 0px;
			}
		}
		
		&-item--2nd {
			flex: 0 0 50%;
	
			.production__machines-image {
				margin: 45px auto 0 auto;
			}
	
			.production__machines-caption {
				margin: 60px 0 0 0px;
				padding: 0px 100px;
			}
		}
	}
}


@media (max-width: 991px) {

	.production {
		padding: 40px 0 40px;
	}

	.headline__title {
		padding-right: 90px;
	}

	.production__info-block {

		.info-block__item:first-child {
			flex: 0 0 300px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 300px;
			padding-right: 50px;
		}
	
		.info-block__item:nth-child(3) {
			flex: 0 0 300px;
			padding-right: 50px;
		}
	
		.info-block__item:last-child {
			flex: 0 0 300px;
		}
	}

	.production__machines {
		margin-top: 60px;

		&-image {
			&::before {
				width: 167px;
				height: 167px;
				left: 0px;
			}
		}

		&-item--1st {
	
			.production__machines-image {
				margin: 27px auto 0 auto;
				width: 272px;
				height: 152px;
			}
	
			.production__machines-caption {
				padding: 0 70px;
    			margin: 20px 0 0 0px;
			}
		}
		
		&-item--2nd {
	
			.production__machines-image {
				margin: 45px auto 0 auto;
				width: 230px;
				height: 120px;
			}
	
			.production__machines-caption {
			    margin: 35px 0 0 0px;
    			padding: 0px 20px;
			}
		}
	}
}


/* ================================== */
/* ======== 11. FAQ SECTION  ======== */
/* ================================== */

.faq {
	padding: 90px 0 50px;

	&__headline {
		padding: 71px 0;
	}

	&__main-block {
		margin-top: 74px;
		display: flex;
	}

	&__questions {
		flex: 0 0 660px;
	}

	&__form {
		margin: 6px 0 0 133px;
		flex: 0 0 370px;
	}

	&__button-question {
		display: none;
	}
}

.questions-faq {

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		border-top: 1px solid #f0f0f0;

		&:last-child {
			border-bottom: 1px solid #f0f0f0;
		}
	}

	&__header {
		padding: 25px 0 18px;
		display: flex;
	}

	&__header-title {
		flex: 0 0 600px;
		font-size: 22px;
		font-weight: 500;

		.hl {
			color: $primary;
		}
	}

	&__icon {
		flex: 0 0 60px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__body {
		padding-bottom: 40px;
	}

	&__body-answer {
		color: #3d3d3d;
		line-height: 1.5;
	}

	&__body-link,
	&__body-link--underlined {
		color: $primary;
	}
	
	&__body-link--underlined {
		text-decoration: underline;
		text-decoration-color: $primary;
		text-decoration-thickness: 1px;
		text-underline-offset: 7px;
	}
}


.questions-faq__icon {

	.icon-plus__wrap {
		position: relative;
		top: -4px;
		flex: 0 0 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: $primary;
			border-radius: 50%;

			.icon-plus__element {
				background-color: white;
			}
		}

		&:active {
			transition: all 0.2s;
			transform: rotate(-45deg);

			.icon-plus__element {
				background-color: white;
			}
		}
	}
	
	.icon-plus {
		width: 24px;
		height: 24px;
	}
		
	.icon-plus__element {
		background-color: black;
	}
	
	.icon-plus__element:first-child {
		height: 1px;
	}
	
	.icon-plus__element:last-child {
		width: 1px;
	}
}


.faq__form {

	.standart-form__input {
		margin-bottom: 19px;
	}
	
	.standart-form__agreement {
		margin-top: 21px;
	}

	.standart-form__button {
		margin-top: 20px;
		height: 60px;
	}
}


@media (max-width: 1199.5px) {

	.faq {
		padding: 50px 0;

		.headline {
			padding: 50px 0;
		}
	
		&__main-block {
			justify-content: space-between;
		}
	
		&__questions {
			flex: 0 0 540px;
		}
	
		&__form {
			margin: 6px 0 0 0px;
		}
	}

	.questions-faq {
		&__header-title {
			flex: 0 0 500px;
		}
		
		&__icon {
			flex: 1 0 auto;
		}
	}
}


@media (max-width: 991px) {
	
	.faq {

		&__main-block {
			margin-top: 60px;
		}

		&__questions {
			flex: 1 1 auto;
		}

		&__form {
			display: none;
		}

		&__button-question {
			margin-top: 50px;
			display: flex;
			justify-content: center;
		}
	}
}



/* ======================================= */
/* ======== 12. CONTACTS SECTION  ======== */
/* ======================================= */

.contacts {
	padding: 103px 0 40px;

	&__inner {
		display: flex;
	}

	&__content {
		margin-right: 200px;
		flex: 0 0 400px;
	}

	&__title {
		margin-bottom: 38px;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.1;

		.hl {
			color: $primary
		}
	}
	
	&__button {
		margin-top: 50px;
	}	
}

.contacts__phone {
	margin-left: 3px;
	margin-bottom: 15px;
	display: flex;

	&-icon {
		margin-right: 23px;
		position: relative;
		top: 0px;
		left: -5px;
		transform: rotate(90deg);
	}

	&-text {
		font-size: 17px;
		font-weight: 600;
		color: #292929;
	}
}

.contacts__address {
	margin: 0 0 1px 2px;
	display: flex;

	&-icon {
		margin-right: 23px;
	}
	
	&-text {
		padding-right: 75px;
		font-size: 16px;
		line-height: 1.1;
		font-weight: 400;
		letter-spacing: 0.3px;
		color: #292929;

		.hl {
			font-weight: 600;
		}
	}
}

.contacts__mail {
	margin-left: 2px;
	margin-bottom: 11px;
	display: flex;

	&-icon {
		margin-right: 25px;
	}
	
	&-text {
		font-size: 16px;
		font-weight: 600;
		color: #292929;
	}
}

.contacts__social {
	margin-top: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;

	&-whatsapp,
	&-telegramm,
	&-instagramm,
	&-facebook {
		&:hover {
			transition: 0.2s ease-in-out;
			opacity: 0.6;
		}
	}
}

.contacts__map {
	flex: 0 0 560px;
	overflow: hidden;

	&-inner {
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	}
}

.btn--contacts{

	&:hover {
		background-color: #ffffff;
		color: $primary;
	}
}


@media (max-width: 1199.5px) {

	.contacts {
		padding: 70px 0 40px;

		&__inner {
			justify-content: space-between;
		}
		
		&__content {
			margin-right: 0;
		}
		
		&__map {
			flex: 0 0 460px;
		}

		.svg-whatsapp {
			width: 26px;
			height: 26px;
		}
		
		.svg-telegramm {
			width: 26px;
			height: 26px;
		}
		
		.svg-instagramm {
			width: 26px;
			height: 26px;
		}
		
		.svg-facebook {
			width: 15px;
			height: 26px;
		}
	}
}


@media (max-width: 991px) {

	.contacts {

		&__inner {
			flex-direction: column;
			row-gap: 70px;
		}
		
		&__content {
			flex: 1 1 auto;
			display: flex;
			justify-content: space-between;
		}
		
		&__content-bottom-wrap {
			display: flex;
			align-items: center;
		}

		&__map {
			flex: 1 1 auto;
		}
		
		&__social {
			flex-direction: column;
			margin-top: 0;
			width: auto;
			height: 220px;
		}
	}
}



/* ============================= */
/* ======== 13. FOOTER  ======== */
/* ============================= */

.footer {
	padding: 67px 0 80px;

	&__inner {
		display: flex;
	}

	&__site-map {
		flex: 0 0 300px;
	}
	
	&__extra {
		flex: 0 0 260px;
	}
}

.footer__block {
	margin-top: 8px;

	&-title {
		font-size: 18px;
		font-weight: 700;
		color: #292929;
	}

	&-list {
		margin-top: 25px;
	}

	&-item {
		margin-bottom: 6px;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.5;
		color: #292929;

		.hl {
			font-weight: 600;
		}
		.hl--blue {
			color: $primary;
		}
	}
}

.footer__info {
	flex: 0 0 282px;

	.footer__block-list {
		margin-top: 13px;
	}

	.footer__block-list:nth-of-type(2) {
		margin-top: 49px;
	}

	.footer__block-item {
		line-height: 1.2;
	}

	&-link {
		font-size: 14px;
		font-weight: 600;
		color: rgb(2 96 232 / 70%);
	}
}

.footer__working-hours {
	padding: 0 0 5px 19px;
	flex: 0 0 320px;
	position: relative;


	&-frame {
		position: absolute;
		z-index: -1;
		top: 12px;
		left: 0;
		width: 231px;
		height: 240px;
		border: 1px solid rgb(2 96 232 / 60%);
	}

	.footer__block-title {
		margin-left: -12px;
		padding: 0px 12px;
		position: relative;
		display: inline-block;
		background-color: white;
	}

	.footer__block-item {
		line-height: 1.58;
	}
}

.svg-logo--footer {
	width: 152px;
    height: 44px;
}


@media (max-width: 1199.5px) {

	.footer {
		padding: 60px 0 50px;

		&__inner {
			justify-content: space-between;
		}
		
		&__info {
			flex: 0 0 250px;
		}
		
		&__working-hours {
			flex: 0 0 230px;
		}
		
		&__site-map {
			flex: 0 0 140px;
		}
		
		&__extra {
			flex: 0 0 130px;
		}
	}
}


@media (max-width: 991px) {

	.footer {

		&__inner {
			flex-wrap: wrap;
			row-gap: 40px;
			max-width: 600px;
		}

		&__info,
		&__working-hours,
		&__site-map,
		&__extra {
			flex: 0 0 250px;
		}
	}
}