@use 'mixins' as *;

/* ======== GLOBAL STYLES ======== */
/* ======== 1. HEADER =========== */
/* ======== 2. HERO-SECTION ======== */
/* ======== 3. SERVICE-SECTION ======== */
/* ======== 4. BENEFITS-SECTION ======== */
/* ======== 5. REQUEST-SECTION ======== */
/* ======== 6. QUOTE BLOCK ========== */
/* ======== 7. VENDORS SECTION ======== */
/* ======== 8. QUESTIONS-SECTION ======== */
/* ======== 9. ORDER-SECTION ======== */
/* ======== 10. PRODUCTION SECTION  ======== */
/* ======== 11. FAQ SECTION  ======== */
/* ======== 12. CONTACTS SECTION  ======== */
/* ======== 13. FOOTER  ======== */



/* ======================================================= */
/* =================== MEDIA QUERIES ===================== */
/* ======================================================= */
/* === max-width: 1199.5px, 991px, 767px, 575px, 479px === */
/* ======================================================= */

@media (min-width: 1200px) {

	.container { max-width: 1190px; }
}



/* ======================================================= */
/* ================== MAX-WIDTH: 1199.5px ================ */
/* ======================================================= */

@media (max-width: 1199.5px) {

	.container { max-width: 960px; }

	/* ======== GLOBAL STYLES ======== */

	.info-block {

		&__list {
			justify-content: space-between;
		}
		
		&__icon {
			margin-left: 0px;
		}
		
		&__text {
			padding-left: 10px; 
			font-size: 23px;
		}
	}

	/* ======== 1. HEADER =========== */

	.header {
		padding: 20px 0;
		position: static;
	
		&__inner {
			justify-content: space-between;
		}

		&__logo {
			margin-right: 0;
		}

		&__nav {
			flex: 0 1 270px;
		}

		&__address {
			flex: 0 0 211px;

			&-icon {
				margin-right: 0px;
			}
		}
	
		&__social {
			flex: 0 0 55px;
			margin-left: 0;
		}

		&__nav,
		&__address,
		&__contacts {
			margin-right: 25px;
		}
	}

	.nav {

		&__menu {
			justify-content: space-between;
		}
	
		&__item:first-child,
		&__item:last-child {
			margin: 0;
		}
	}

	/* ======== 2. HERO-SECTION ======== */

	.hero {
		padding: 0 0 60px;

		&__background-block {
			padding: 40px 0 460px;
		}

		&__desc {
			margin: -500px 0 0 auto;
		}
	}

	.hero__machine {
		margin-top: -55px;

		&-image {
			width: 632px;
			height: 352px;
		}
	
		&-inner {
			left: 14%;
	
			&::before {
				width: 413px;
				height: 413px;
				top: 2%;
			}
		}
	}	

	.hero__info-block {
		margin-top: 170px;

		.info-block__item:first-child {
			flex: 0 0 220px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 240px;
			padding-right: 0px;
		}

		.info-block__item:nth-child(3) {
			flex: 0 0 240px;
			padding-right: 0px;
		}

		.info-block__item:last-child {
			flex: 0 0 225px;
		}
	}

	/* ======== 3. SERVICE-SECTION ======== */

	.service {
		padding: 50px 0 60px;

		.headline {
			padding: 25px 0;
		}
		
		.headline__image-inner {
			width: 120px;
			height: 96px;
		}

		&__button-on-top {
			top: -30px;
		}

		&__item {
			
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				flex: 0 0 25%;
			}
		}

		&__extra-headline {
			margin-top: 20px;
		}

		&__button-consultation {
			padding-left: 0;
			margin-top: 23px;
		}
	}

	/* ======== 4. BENEFITS-SECTION ======== */

	.benefits {
		padding: 76px 0 30px;
		
		&__title {
			position: static;
		}

		&__list {
			margin-left: 0;
			flex-direction: row;
			justify-content: space-between;
			row-gap: 60px;
			flex-wrap: wrap;
		}
	
		&__item {
			flex: 0 0 47%;
		}

		&__slider {
			margin-top: 100px;
		}

		&__slider-image {
			height: 636px;
		}
	}

	.benefits__item--1st,
	.benefits__item--2nd,
	.benefits__item--3rd  {
		margin-top: 0;

		.benefits__item-title {
			padding-right: 0;
		}
		.benefits__item-desc {
			padding-right: 0;
		}
	}
	
	.benefits__item--1st,
	.benefits__item--3rd  {
		flex: 0 0 50%;
	}

	.benefits__item--2nd {
		flex: 0 0 46%;
	}

	/* ======== 5. REQUEST-SECTION ======== */

	.request {
		padding: 65px 0 70px;
	
		&__inner {
			justify-content: space-between;
		}
	
		&__title {
			flex: 0 0 auto;
		}
	
		&__form {
			flex: 0 0 auto;
		}
	}

	/* ======== 6. QUOTE BLOCK ========== */

	.quote__content {
		margin-left: 30px;
		flex: 1 1 auto;
	
		&-text {
			padding-right: 10px;
			font-size: 23px;
			line-height: 1.3;
		}
		
		&-card {
			margin-top: 40px;
		}
		
		&-info {
			margin-left: 20px;
			flex: 1 1 auto;
		}
	}

	/* ======== 7. VENDORS SECTION ======== */

	.vendors {
		padding: 60px 0 40px;
	
		.headline__image {
			flex: 0 0 200px;
		}

		&__slider {
			margin: 80px auto 0 auto;
			width: 85%;
		}

		&__slider-item:first-child,
		&__slider-item:nth-child(2),
		&__slider-item:nth-child(3),
		&__slider-item:last-child  {
			flex: 0 0 25%;
	
			.vendors__slider-image {
				margin: 0;
			}
		}
	}

	/* ======== 8. QUESTIONS-SECTION ======== */

	.questions {
		padding: 58px 0 30px;
	
		.headline {
			padding: 30px 0;
		}
	
		.headline__image {
			flex: 0 0 165px;
		}
	}

	/* ======== 9. ORDER-SECTION ======== */

	.order {
		padding: 80px 0 60px;

		&__title {
			width: 770px;
		}
	}

	/* ======== 10. PRODUCTION SECTION  ======== */

	.production {
		padding: 60px 0 40px;
	
		.headline {
			padding: 50px 0;
		}
		
		.headline__title {
			padding-right: 250px;
		}
	
	}

	.production__info-block {
		margin-top: 60px;

		.info-block__item:first-child {
			flex: 0 0 190px;
		}
		
		.info-block__item:nth-child(2) {
			flex: 0 0 210px;
			padding-right: 0px;
		}

		.info-block__item:nth-child(3) {
			flex: 0 0 220px;
			padding-right: 0px;
		}

		.info-block__item:last-child {
			flex: 0 0 255px;
			
			.info-block__text {
				padding-left: 10px;
			}
		}
	}


	.production__machines {
		margin-top: 80px;

		&-item--1st {
			flex: 0 0 50%;
	
			.production__machines-image {
				margin: 27px auto 0 auto;
			}
	
			.production__machines-caption {
				padding: 0 130px;
				margin: 30px 0 0 0px;
			}
		}
		
		&-item--2nd {
			flex: 0 0 50%;
	
			.production__machines-image {
				margin: 45px auto 0 auto;
			}
	
			.production__machines-caption {
				margin: 60px 0 0 0px;
				padding: 0px 100px;
			}
		}
	}

	/* ======== 11. FAQ SECTION  ======== */

	.faq {
		padding: 50px 0;

		.headline {
			padding: 50px 0;
		}
	
		&__main-block {
			justify-content: space-between;
		}
	
		&__questions {
			flex: 0 0 530px;
		}
	
		&__form {
			margin: 6px 0 0 0px;
		}
	}

	.questions-faq {

		&__icon {
			flex: 1 0 auto;
		}
	}

	/* ======== 12. CONTACTS SECTION  ======== */

	.contacts {
		padding: 70px 0 40px;

		&__inner {
			justify-content: space-between;
		}
		
		&__content {
			margin-right: 0;
		}

		&__map {
			flex: 0 0 460px;
		}

		&__mail-icon {
			display: flex;
			align-items: center;
		}

		.svg-whatsapp {
			width: 26px;
			height: 26px;
		}
		
		.svg-telegramm {
			width: 26px;
			height: 26px;
		}
		
		.svg-instagramm {
			width: 26px;
			height: 26px;
		}
		
		.svg-facebook {
			width: 15px;
			height: 26px;
		}
	}

	/* ======== 13. FOOTER  ======== */

	.footer {
		padding: 60px 0 50px;

		&__inner {
			justify-content: space-between;
		}
		
		&__info {
			flex: 0 0 250px;
		}
		
		&__working-hours {
			flex: 0 0 230px;
		}
		
		&__site-map {
			flex: 0 0 140px;
		}
		
		&__extra {
			flex: 0 0 130px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 991px =================== */
/* ======================================================= */

@media (max-width: 991px) {
	
	.container { max-width: 720px; }

	/* ======== GLOBAL STYLES ======== */

	.headline__title {
		font-size: 36px;
	}

	.info-block {

		&__list {
			padding-left: 40px;
			flex-wrap: wrap;
			row-gap: 40px;
		}

		&__text {
			padding-left: 30px;
		}
	}

	body.noscroll {
		height: 100vh;
		overflow: hidden;
	}

	/* ======== 1. HEADER =========== */

	.header {
		background-color: #f8f8f8;

		&__hamb {
			display: block;
		}

		&__nav,
		&__address,
		&__contacts {
			display: none;
		}

		&__social {
			flex: 0 0 68px;
		}
	}

	.mobile-menu.active {
		transform: translateX(0);
		transition: 0.3s;
	}

	.mobile-menu__wrap.active {
		right: 0;
	}



	/* ======== 2. HERO-SECTION ======== */

	.hero {
		padding: 0px 0 30px;

		&__lead {
			padding-top: 30px;
		}

		&__title {
			font-size: 37px;
		}
		
		&__subtitle {
			font-size: 24px;
		}

		&__desc {
			margin: -497px 0 0 450px;
			width: 235px;
		}
	
		&__background-block {
			padding: 10px 0 470px;
		}

		&__button-order {
			bottom: 330px;
		}
	}
	
	.hero__machine {
		margin-top: 20px;

		&-image {
			width: 542px;
			height: 303px;
			margin-top: 54px;
		}
	
		&-inner {
			left: 30px;

			&::before {
				width: 373px;
				height: 373px;
				top: 0%;
			}
		}
	
		&-tooltip-wrap--1 {
			left: 26.5%;
			top: 22.3%;

			.hero__machine-tooltip-content::before {
    			top: 40px;
				left: 50%;
				transform: translateX(-50%);
				width: 240px;
			}
		}
	
		&-tooltip-wrap--2 {
			left: 86.2%;
			top: 22.6%;

			.hero__machine-tooltip-content::before {
				width: 315px;
    			top: -100px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	
		&-tooltip-wrap--3 {
			left: 56%;
			top: 100%;
		}
	}

	.hero__info-block {
		margin-top: 70px;

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 0 300px;
		}
	}

	/* ======== 3. SERVICE-SECTION ======== */

	.service {

		&__list {
			justify-content: center;
		}
	
		&__item {
	
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding-top: 30px;
				padding-bottom: 30px;
				flex: 0 0 33.3%;
				border: none;
			}
		}
	}

	.service__extra {

		.service__item {
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding-top: 30px;
				padding-bottom: 30px;
				flex: 0 0 50%;
			}
		}
	}

	/* ======== 4. BENEFITS-SECTION ======== */

	.benefits {
		padding: 60px 0 30px;

		&__title {
			padding-right: 160px;
			font-size: 36px;
	
			.second-line {
				display: inline;
			}
		}
		
		&__list {
			row-gap: 40px;
		}

		&__item {
			flex: 0 0 80%;
		}

		&__slider {
			margin-top: 70px;
		}

		&__slider-image {
			height: 413px;
		}
	}

	.benefits__item--1st {
		.benefits__item-title {
			padding-right: 150px;
		}
	}

	.benefits__item--2nd,
	.benefits__item--3rd { 

		.benefits__item-title {
			padding-right: 200px;
		}
	}

	/* ======== 5. REQUEST-SECTION ======== */

	.request {
		padding: 65px 0 50px;

		&__background-block {
			padding: 50px 0 70px;
		}

		&__inner {
			flex-direction: column;
			row-gap: 40px;
		}

		&__title {
			font-size: 36px;
			align-self: flex-start;
		}
		
		&__form {
			width: 400px;
		}
	}

	/* ======== 6. QUOTE BLOCK ========== */

	.quote {
		
		&__inner {
			flex-direction: column;
			align-items: center;
			row-gap: 50px;
		}
		
		&__video {
			padding-top: 0;
			flex: 0 0 auto;
		}
		
		&__content {
			margin-left: 0;
			justify-content: center;
		}

		&__content-info {
			flex: 0 0 520px;
		}
	}

	/* ======== 7. VENDORS SECTION ======== */

	.vendors {

		.headline {

			&__title {
				padding-right: 30px;
	
				.second-line {
					display: inline;
				}
			}
	
			&__image {
				display: none;
			}
		}

		&__slider {
			width: 90%;
			margin: 50px auto 0 auto;
		}
	}

	/* ======== 8. QUESTIONS-SECTION ======== */

	.questions {
		
		.headline__title {
			padding-right: 10px;
		}

		.headline__image-inner {
			width: 106px;
			height: 120px;
		}
		
		&__card-wrap {
			margin-top: 43px;
		}
	}

	/* ======== 9. ORDER-SECTION ======== */

	.order {
		padding: 50px 0 50px;

		&__title {
			width: 620px;
			font-size: 36px;
		}
		
		&__subtitle {
			font-size: 16px;
			line-height: 24px;
		}
		
		&__background {
			padding: 100px 0 100px;
		}
		
		&__button {
			margin-top: 40px;
		}
	}

	/* ======== 10. PRODUCTION SECTION  ======== */

	.production {
		padding: 40px 0 40px;

		.headline__title {
			padding-right: 90px;
		}
	}

	.production__info-block {

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 0 300px;
		}

		.info-block__item:first-child,
		.info-block__item:nth-child(3) {
			padding-right: 50px;
		}
	
		.info-block__item:nth-child(2) {
			.info-block__text {
				padding-right: 50px;
			}
		}

		.info-block__item:last-child {
			.info-block__text {
				padding-left: 30px;
			}
		}
	}

	.production__machines {
		margin-top: 60px;

		&-image {
			&::before {
				width: 167px;
				height: 167px;
				left: 0px;
			}
		}

		&-item--1st {
	
			.production__machines-image {
				margin: 27px auto 0 auto;
				width: 272px;
				height: 152px;
			}
	
			.production__machines-caption {
				padding: 0 70px;
    			margin: 20px 0 0 0px;
			}
		}
		
		&-item--2nd {
	
			.production__machines-image {
				margin: 45px auto 0 auto;
				width: 230px;
				height: 120px;
			}
	
			.production__machines-caption {
			    margin: 35px 0 0 0px;
    			padding: 0px 20px;
			}
		}
	}

	/* ======== 11. FAQ SECTION  ======== */

	.faq {

		.headline__title {
			padding-right: 100px;
		}

		&__main-block {
			margin-top: 60px;
		}

		&__questions {
			flex: 1 1 auto;
		}

		&__form {
			display: none;
		}

		&__button-question {
			margin-top: 50px;
			display: flex;
			justify-content: center;
		}
	}

	/* ======== 12. CONTACTS SECTION  ======== */

	.contacts {

		&__inner {
			flex-direction: column;
			row-gap: 70px;
		}
		
		&__content {
			flex: 1 1 auto;
			flex-direction: row;
			justify-content: space-between;
		}
		
		&__content-bottom-wrap {
			display: flex;
			align-items: center;
		}

		&__map {
			flex: 1 1 auto;
		}
		
		&__social {
			flex-direction: column;
			margin-top: 0;
			width: auto;
			height: 220px;
		}
	}

	/* ======== 13. FOOTER  ======== */

	.footer {

		&__inner {
			flex-wrap: wrap;
			row-gap: 40px;
			max-width: 600px;
		}

		&__info,
		&__working-hours,
		&__site-map,
		&__extra {
			flex: 0 0 250px;
		}

		&__site-map,
		&__extra {
			flex: 0 1 250px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 767px =================== */
/* ======================================================= */

@media (max-width: 767px) {

	.container { max-width: 540px; }

	/* ======== GLOBAL STYLES ======== */

	.headline__title {
		padding-right: 0;
		font-size: 30px;
	}

	.info-block {

		&__list {
			padding-left: 0;
		}

		&__text {
			padding-left: 10px;
		}
	}

	:root {
		--section-inset: 40px;
	}

	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	.hero {

		&__background-block {
			padding: 10px 0 40px;
		}

		&__lead {
			width: auto;
		}

		&__title {
			font-size: 30px;
		}
		
		&__subtitle {
			font-size: 20px;
			padding-right: 70px;
		}
		
		&__lead {
			padding-top: 0px;
		}
		
		&__desc {
			margin: 60px auto 0 auto;
			width: auto;
			max-width: 390px;
		}
	
		&__machine-inner {
			left: 15px;

			&::before {
				width: 306px;
				height: 306px;
			}
		}
	
		&__machine-image {
			width: 422px;
			height: 236px;
		}

		&__machine-tooltip-content {
	
			&::before {
				transition-delay: 0s;
			}
		}

		&__machine-tooltip-wrap--2 {
			left: 88%;

			.hero__machine-tooltip-content::before {
				top: 40px;
				left: 50%;
				transform: translate(-60%, 0);
				width: 260px;
			}
		}

		&__machine-tooltip-wrap--3 {

			.hero__machine-tooltip-content::before {
				top: -120px;
				left: 50%;
				transform: translate(-50%, 0);
				width: 270px;
			}
		}
	}

	.hero__info-block {
		margin-top: 60px;

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 0 240px;
		}
	}

	/* ======== 3. SERVICE-SECTION ======== */

	.service {

		padding: var(--section-inset) 0;

		&__basic-headline {

			.headline__title {
				padding-right: 0;
			}
			
			.headline__image {
				flex: 0 0 120px;
			}
	
			.headline__image-inner {
				width: 60px;
				height: 48px;
			}
		}

		&__item {
	
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				flex: 0 0 50%;
			}
		}

		&__extra-headline {

			.headline__title {
				padding-right: 0;
			}
			
			.headline__image {
				flex: 0 0 120px;
			}
	
			.headline__image-inner {
				width: 67px;
				height: 68px;
			}
		}
	}

	/* ======== 4. BENEFITS-SECTION ======== */

	.benefits {

		padding: var(--section-inset) 0;

		&__title {
			padding-right: 80px;
			font-size: 30px;
		}

		&__item {
			flex: 0 0 100%;
		}

		&__item-title {
			font-size: 22px;
		}

		&__slider-image {
			height: 310px;
		}
	}

	.benefits__item--1st {
		.benefits__item-title {
			padding-right: 100px;
		}
	}

	.benefits__item--2nd,
	.benefits__item--3rd { 

		.benefits__item-title {
			padding-right: 250px;
		}
	}

	/* ======== 5. REQUEST-SECTION ======== */

	.request {
		padding: var(--section-inset) 0;

		&__title {
			text-align: center;
    		padding: 0 40px;

			.second-line {
				display: inline;
			}
		}
	}

	/* ======== 6. QUOTE BLOCK ========== */

	.quote {
		padding: var(--section-inset) 0;

		&__content-icon {
			flex: 0 0 30px;
		}

		.svg-quote-icon {
			width: 30px;
			height: 23px;
		}
		
		&__content-info {
			flex: 1 1 auto;
		}

		&__content-text {
			font-size: 20px;
		}
	}

	/* ======== 7. VENDORS SECTION ======== */

	.vendors {
		padding: var(--section-inset) 0;

		.headline {

			&__title {
				padding-right: 0;
			}
	
			&__image {
				display: block;
				flex: 0 0 140px;
			}
	
			&__image-inner {
				width: 139px;
				height: 96px;
			}
		}

		&__slider-list {
			flex-wrap: wrap;
			gap: 10%;
		}

		&__slider-item:first-child,
		&__slider-item:nth-child(2),
		&__slider-item:nth-child(3),
		&__slider-item:last-child  {
			flex: 0 0 45%;

			.vendors__slider-image {
				margin: 0 auto;
			}
		}
	}

	/* ======== 8. QUESTIONS-SECTION ======== */

	.questions {
		padding: var(--section-inset) 0;

		.headline__title {
			padding-right: 0px;
		}

		.headline__image {
			flex: 0 0 76px;
		}

		.headline__image-inner {
			width: 76px;
			height: 86px;
		}

		&__card-header-inner {
			padding: 20px 20px 25px;
		}
		
		&__card-header-icon {
			display: none;
		}
		
		&__card-header-counter {
			flex: 0 0 35px;
			text-align: end;
		}

		&__card-body {
			padding: 20px 20px 55px;
		}

		&__card-footer {
			padding: 0 20px 30px;
		}
	}

	.form-questions {

		&__title {
			font-size: 22px;
		}
		
		&__label {
			font-size: 13px;
		}
		
		&__item {
			margin-bottom: 15px;
		}

		&__input {
			border: 2px solid rgba(0,0,0,0.6);;
		}
	}

	/* ======== 9. ORDER-SECTION ======== */

	.order {
		padding: var(--section-inset) 0;

		&__title {
			width: 500px;
			font-size: 30px;
		}
		
		&__subtitle {
    		padding: 0 40px;
		}
		
		&__background {
			padding: 70px 0;
		}
	}

	/* ======== 10. PRODUCTION SECTION  ======== */

	.production {
		padding: var(--section-inset) 0;

		.headline__title {
			padding-right: 0;
		}
	}

	.production__info-block {

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 0 250px;
		}

		.info-block__item:first-child,
		.info-block__item:nth-child(3) {
			padding-right: 20px;
		}

		.info-block__item:nth-child(2) {
			.info-block__text {
				padding-right: 30px;
			}
		}
	
		.info-block__item:last-child {
			.info-block__text {
				padding-left: 10px;
			}
		}
	}

	.production__machines {
		margin-top: 50px;

		&-image {
			&::before {
				width: 137px;
				height: 137px;
			}
		}

		&-item--1st {
	
			.production__machines-image {
				margin: 20px 0 0 3px;
				width: 202px;
				height: 113px;

				&::before {
					top: -20px;
					left: 55px;
				}
			}
	
			.production__machines-caption {
				padding: 0 50px;
    			margin: 20px auto 0 auto;
			}
		}
		
		&-item--2nd {
	
			.production__machines-image {
				margin: 20px auto 0 auto;
				width: 207px;
				height: 108px;

				&::before {
					top: -20px;
				}
			}
	
			.production__machines-caption {
			    margin: 25px auto 0 auto;
			}
		}
	}

	/* ======== 11. FAQ SECTION  ======== */

	.faq {
		padding: var(--section-inset) 0;
	}

	.questions-faq {

		&__header {
			padding: 15px 0;
		}
		
		&__body {
			padding-bottom: 30px;
		}
	}

	/* ======== 12. CONTACTS SECTION  ======== */

	.contacts { 
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);
	}

	/* ======== 13. FOOTER  ======== */

	.footer {
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);
		
		&__inner {
			justify-content: center;
			column-gap: 30px;
		}

		&__info {
			order: 1;
		}
		
		&__working-hours {
			order: 3;
		}
		
		&__site-map {
			order: 2;
		}
		
		&__extra {
			order: 4;
		}

		&__site-map,
		&__extra {
			flex: 0 0 200px;
		}
	}
}



/* ======================================================= */
/* ================== MAX-WIDTH: 575px =================== */
/* ======================================================= */

@media (max-width: 575px) {

	.container { max-width: 480px; }

	/* ======== GLOBAL STYLES ======== */

	.info-block {

		&__text {
			font-size: 20px;
		}
	}

	:root {
		--section-inset: 30px;
	}

	/* ======== 1. HEADER =========== */

	.header {
		// Можно оставить блок .header__social
		&__social {
			display: none;
			flex: 0 0 60px;
		}

		&__inner {
			justify-content: flex-start;
		}
	
		&__logo {
			margin-right: 10px;
		}
	}
	

	/* ======== 2. HERO-SECTION ======== */

	.hero {
		padding: 0 0 var(--section-inset);
	}

	.hero__machine-tooltip-wrap--2 {

		.hero__machine-tooltip-content::before {
			transform: translateX(-80%);
		}
	}

	.hero__info-block {
		margin-top: 45px;

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 0 210px;
		}
	}

	/* ======== 3. SERVICE-SECTION ======== */

	.service {
		padding: var(--section-inset) 0;
	}

	/* ======== 4. BENEFITS-SECTION ======== */

	.benefits {
		padding: var(--section-inset) 0;
	}

	/* ======== 5. REQUEST-SECTION ======== */

	.request {
		padding:var(--section-inset) 0;
		
		&__title {
			padding: 0px 10px;
		}
	}

	/* ======== 6. QUOTE BLOCK ========== */

	.quote {
		padding:var(--section-inset) 0;

		&__content-text {
			padding-right: 30px;
		}

		&__video {
			width: 100%;
		}

		&__video-player {
			width: calc(100% - 20px);
			left: 50%;
			transform: translateX(-50%);

			&::before {
				width: calc(100% - 20px);
			}
		}

		&__video-frame {
			width: 100%;
		}
	}

	/* ======== 7. VENDORS SECTION ======== */

	.vendors {
		padding:var(--section-inset) 0;

		.headline {

			&__title {
				font-size: 24px;
			}
	
			&__image {
				display: none;
			}
		}

		&__slider {
			margin: 30px auto 0 auto;
		}

		&__slider-list {
			gap: 5%;
			justify-content: center;
		}
	}

	/* ======== 8. QUESTIONS-SECTION ======== */

	.questions {
		padding:var(--section-inset) 0;

		.headline__image {
			display: none;
		}

		&__card-wrap {
			padding: 0;	
		}
	}

	/* ======== 9. ORDER-SECTION ======== */

	.order {
		padding: var(--section-inset) 0;

		&__title,
		&__subtitle {
			width: 420px;
			padding: 0 15px;
		}
	}

	/* ======== 10. PRODUCTION SECTION  ======== */

	.production {
		padding: var(--section-inset) 0;

		.headline__title {
			padding-right: 60px;
		}

		.info-block {

			.info-block__item:first-child,
			.info-block__item:nth-child(2),
			.info-block__item:nth-child(3),
			.info-block__item:last-child {
				flex: 0 0 220px;
			}
		}
	}

	.production__machines-item--1st {
	
		.production__machines-caption {
			padding: 0 30px;
		}
	}

	/* ======== 11. FAQ SECTION  ======== */

	.faq {
		padding: var(--section-inset) 0;

		.headline__title {
			padding-right: 50px;
		}

		&__main-block {
			margin-top: 45px;
		}
	}

	/* ======== 12. CONTACTS SECTION  ======== */

	.contacts { 
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);
	}

	/* ======== 13. FOOTER  ======== */

	.footer {
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);

		&__site-map,
		&__extra {
			flex: 0 0 160px;
		}
	}	
	
}



/* ======================================================= */
/* ================== MAX-WIDTH: 480px =================== */
/* ======================================================= */

@media (max-width: 480px) {

	.container { max-width: 100%; }

	/* ======== GLOBAL STYLES ======== */

	.btn {
		width: 280px;
	}

	.btn__wrap {
		&::after {
			width: 280px;	
		}
	}

	.headline {
		&__title {
			font-size: 26px;
		}
		
		&__image {
			display: none;
		}
	}

	.info-block {

		&__list {
			justify-content: center;
			row-gap: 30px;
		}

		&__text {
			padding-left: 30px;
			font-size: 23px;
		}
	}

	:root {
		--section-inset: 20px;
		--headline-inset: 20px;
	}

	/* ======== 1. HEADER =========== */

	.header {
		padding: 15px 0;
	}

	/* ======== 2. HERO-SECTION ======== */

	.hero {
		padding: 0 0 var(--section-inset);

		&_background-block {
			padding: 10px 0 30px;
		}

		&__title {
			text-align: center;
			font-size: 24px;
		}
		
		&__subtitle {
			margin: 10px auto 0 auto;
			padding-right: 0px;
			width: 285px;
			font-size: 17px;
		}

		&__desc {
			margin: 30px auto 0 auto;
			max-width: 345px;
		}

		&__button-calc-block {
			margin-top: 40px;
			left: 50%;
			transform: translateX(-50%);
		}

		&_button-calc-tooltip {
			display: none;
		}

		&__machine {
			margin-top: 40px;
		}

		&__machine-inner {

			left: 50%;
   			transform: translateX(-50%);

			&::before {
				top: 0%;
				width: 200px;
				height: 200px;
			}
		}
	
		&__machine-image {
			margin-top: 35px;
			width: 290px;
			height: 165px;
		}


		div[class*='hero__machine-tooltip-wrap'] {
			display: none;
		}
	}

	.hero__info-block {
		margin-top: 30px;

		.info-block__item:first-child,
		.info-block__item:nth-child(2),
		.info-block__item:nth-child(3),
		.info-block__item:last-child {
			flex: 0 260px;
		}
	}

	.hero__button-order {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
		height: 50px;

	}

	.btn--hero-order {
		width: 100%;
		height: 100%;
		font-size: 14px;
	}

	.animation-flash {
		&::before {
			display: none;
		}
	}

	/* ======== 3. SERVICE-SECTION ======== */

	.service {
		padding: var(--section-inset) 0;

		&__list {
			margin-top: 20px;
		}

		&__item-desc {
			margin-top: 15px;
			line-height: 1.3;
		}
		
		&__item-title {
			margin-top: 10px;
		}
	}

	.service__basic {

		.headline {
			padding: 25px 0;
		}

		.service__item {
			
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding: 20px 0;
				flex: 1 1 205px;
			}
		}
	}

	.service__basic-item--5th  {
		.service__item-desc {
			flex: 0 0 37px;
		}
	}

	.service__extra {

		.headline {
			padding: var(--headline-inset) 0;
		}

		.service__list {
			margin-top: 20px;
		}

		.service__item {
			&:nth-child(4n+1),
			&:nth-child(4n+2),
			&:nth-child(4n+3),
			&:nth-child(4n+4) {
				padding: 20px 0;
				flex: 0 0 175px;
			}
		}
	}

	/* ======== 4. BENEFITS-SECTION ======== */

	.benefits {
		padding: var(--section-inset) 0;

		&__title {
			margin-bottom: 10px;
			padding: 0;
			font-size: 26px;
		}
		
		&__list {
			row-gap: 20px;
		}
		
		&__slider {
			margin-top: 40px;
		}

		&__slider-image {
			height: 200px;
		}
		

		.benefits__item--1st,
		.benefits__item--2nd,
		.benefits__item--3rd { 
	
			.benefits__item-title {
				padding: 0;
			}
		}

		.benefits__item--1st {

			.benefits__item-title {
				width: 280px;
			}	
		}

		.benefits__item--2nd {

			.benefits__item-title {
				width: 260px;
			}
		}
	}

	/* ======== 5. REQUEST-SECTION ======== */

	.request {
		padding:var(--section-inset) 0;

		&__background-block {
			padding: 20px 0 50px;
		}

		&__inner {
			row-gap: 20px;
		}

		&__title {
   			margin: 0 auto;
			padding: 0;
			width: 285px;
			font-size: 24px;
		}	
	}

	.request__form {
		width: 100%;
	
		.standart-form {
			padding-right: 0px;
			align-items: flex-start;
	
			&__input {
				margin-bottom: 10px;
			}
			
			&__agreement {
				margin-top: 15px;
				align-items: flex-start;
			}

			&__input-checkbox {
				flex: 0 0 20px;
			}
			
			&__button {
				margin-top: 15px;
				padding-right: 8px;
				width: 100%;
			}
		}
	}

	.btn--standart-form, 
	.btn__wrap--standart-form::after {
		width: 100%;
	}

	/* ======== 6. QUOTE BLOCK ========== */

	.quote {
		padding:var(--section-inset) 0;

		&__inner {
			row-gap: 30px;
		}

		&__video-player {
			padding-right: 10px;
			width: 280px;
			height: 160px;
			
			&::before {
				width: 270px;
				height: 160px;
				top: 10px;
	 			left: 10px;
			}
		}

		&__video-frame {
			height: 100%;
		}
	}

	.quote__content {
		flex-direction: column;
		width: 290px;

		&-icon {
			padding-top: 0px;
			flex: 0 0 40px;
		}
		
		&-info {
			margin-left: 0px;
		}
		
		&-text {
			padding-right: 0px;
			font-size: 17px;
		}
		
		&-card-photo {
			flex: 0 0 80px;
			height: 80px;
		}
		
		&-card-data {
			margin-left: 15px;
		}
		
		&-position {
			font-size: 15px;
		}
		
		&-link {
			margin-top: 8px;
		}
		
		&-card {
			margin-top: 25px;
		}
	}

	.svg-quote-youtube {
		width: 70px;
		height: 50px;
	}

	/* ======== 7. VENDORS SECTION ======== */

	.vendors {
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);

		.headline__title {
			padding: 0 10px;
			text-align: center;
			font-size: 22px;
		}

		&__slider {
			margin: 20px auto 0 auto;
		}
	}

	/* ======== 8. QUESTIONS-SECTION ======== */

	.questions {
		padding:var(--section-inset) 0;

		.headline {
			padding: var(--headline-inset) 0;

			&__title {
				font-size: 21px;
			}
		}

		&__card-wrap {
			margin-top: 15px;
		}

		&__card-header-title {
			line-height: 1.2;
		}
		
		&__card-body {
			padding: 20px 20px 30px;
		}
	}

	.form-questions__title {
		line-height: 1.2;
	}

	.btn--questions-grey,
	.btn--questions-blue {
		width: 118px;
	}

	/* ======== 9. ORDER-SECTION ======== */

	.order {
		padding: var(--section-inset) 0;

		&__background {
			padding: 40px 0;
		}

		&__title,
		&__subtitle {
			width: auto;
		}

		&__title {
			font-size: 22px;
		}

		&__button {
			padding: 0 15px;
		}		
	}
	
	.btn--order {
		padding: 0 20px;
	}

	/* ======== 10. PRODUCTION SECTION  ======== */

	.production {
		padding: var(--section-inset) 0;

		.headline {
			padding: var(--headline-inset) 0;

			&__title {
				font-size: 24px;
				padding-right: 0px;
			}
		}

		.info-block {
			margin-top: 30px;

			&__list {
				row-gap: 25px;
			}
	
			.info-block__item:first-child,
			.info-block__item:nth-child(2),
			.info-block__item:nth-child(3),
			.info-block__item:last-child {
				flex: 0 0 260px;
			}
	
			.info-block__item:last-child {
				.info-block__text {
					padding-left: 30px;
				}
			}
		}
	} 

	.production__machines {
		margin-top: 30px;

		&-list {
			flex-wrap: wrap;
			row-gap: 20px;
		}

		&-image {
			&::before {
				width: 167px;
				height: 167px;
				left: 0px;
			}
		}

		&-item--1st,
		&-item--2nd {
		flex: 0 0 100%;

			.production__machines-caption {
				padding: 0;
				width: 290px;
			}
		}

		&-item--1st {
	
			.production__machines-image {
				margin: 27px auto 0 auto;
				width: 272px;
				height: 152px;
			}

			.production__machines-caption {
				margin: 10px auto 0 auto;
			}
		}
		
		&-item--2nd {
	
			.production__machines-image {
				margin: 45px auto 0 auto;
				width: 230px;
				height: 120px;
			}

			.production__machines-caption {
				margin: 40px auto 0 auto;
			}
		}
	}

	/* ======== 11. FAQ SECTION  ======== */

	.faq {
		padding: var(--section-inset) 0;

		.headline {
			padding: var(--headline-inset) 0;
		
			&__title {
				padding-right: 0px;
				font-size: 23px;
			
				.second-line {
					display: inline;
				}
			}
		}
		
		&__button-question {
			margin-top: 25px;
		}
		
		&__main-block {
			margin-top: 30px;
		}
	}

	.questions-faq__header-title {
		line-height: 1.2;
	}

	
	/* ======== 12. CONTACTS SECTION  ======== */

	.contacts { 
		padding: calc(var(--section-inset) * 1.5) 0 var(--section-inset);

		&__title {
			margin-bottom: 15px;
			text-align: center;
			font-size: 30px;
		}

		&__inner {
			row-gap: 30px;
		}

		&__content {
			flex-direction: column;
		}

		&__content-top-wrap {
			margin: 0 auto;
			width: 290px;
		}

		&__content-bottom-wrap {
			justify-content: center;
		}

		&__phone {
			margin-bottom: 5px;
		}

		&__phone-icon {
			margin-right: 14px;
		}
		
		&__address-icon {
			margin-right: 13px;
			padding-top: 2px;
		}

		&__address-text {
			padding-right: 15px;
		}
		
		&__mail-icon {
			margin-right: 15px;
		}

		&__button {
			margin-top: 15px;
		}

		&__social {
			margin-top: 40px;
			flex-direction: row;
			width: 290px;
			height: auto;
		}

		&__map {
			flex: 0 0 290px;
		}
	}	

	#yandex-map {
		display: none;
	}
	
	#yandex-map--small {
		display: block;
	}

	// ====================
	// ===STYLE 2ND VERSION 
	// ====================

	// .contacts { 
	// 	padding: 40px 0 20px;

	// 	&__title {
	// 		margin-bottom: 20px;
	// 		font-size: 30px;
	// 	}

	// 	&__inner {
	// 		row-gap: 30px;
	// 	}

	// 	&__content {
	// 		flex-direction: column;
		
	// 	}

	// 	&__social {
	// 		margin-top: 40px;
	// 		flex-direction: row;
	// 		width: 100%;
	// 		height: auto;
	// 	}

	// 	&__button {
	// 		margin-top: 20px;
	// 	}

	// 	&__map {
	// 		flex: 0 0 290px;
	// 	}
	// }


	/* ======== 13. FOOTER  ======== */

	.footer {
		// 50px - высота фиксированной к
		padding: calc(var(--section-inset) * 1.5) 0 calc(var(--section-inset) + 50px);

		&__working-hours {
			order: 4;
		}
		
		&__extra {
			order: 3;
		}

		&__inner {
			margin: 0 auto;
			justify-content: flex-start;
			column-gap: 20px;
			row-gap: 20px;
			width: 290px;
		}
		
		&__info,
		&__working-hours {
			flex: 0 0 100%;
		}

		&__site-map,
		&__extra {
			margin-top: 0;
			flex: 0 0 130px;

		}
	}
}

@media (max-width: 320px) {
	.container { max-width: 100%; }
}



