@use 'mixins' as *;

/* ======== GLOBAL STYLES ======== */

/* ======== 1. HEADER =========== */

/* ======== 2. HERO-SECTION ======== */

/* ======== 3. SERVICE-SECTION ======== */

/* ======== 4. BENEFITS-SECTION ======== */

/* ======== 5. REQUEST-SECTION ======== */

/* ======== 6. QUOTE BLOCK ========== */

/* ======== 7. VENDORS SECTION ======== */

/* ======== 8. QUESTIONS-SECTION ======== */

/* ======== 9. ORDER-SECTION ======== */

/* ======== 10. PRODUCTION SECTION  ======== */

/* ======== 11. FAQ SECTION  ======== */

/* ======== 12. CONTACTS SECTION  ======== */

/* ======== 13. FOOTER  ======== */






/* ===================================================== */
/* =================== MEDIA QUERIES =================== */
/* ===================================================== */
/* === max-width: 1299px, 991px, 767px, 575px, 479px === */
/* ===================================================== */

@media (min-width: 1200px) {
	.container { max-width: 1190px; }
}



/* ======================================================= */
/* ================== MAX-WIDTH: 1199.5px ================ */
/* ======================================================= */

@media (max-width: 1199.5px) {
	.container { max-width: 960px; }

	/* ======== GLOBAL STYLES ======== */

	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	/* ======== 3. SERVICE-SECTION ======== */

	/* ======== 4. BENEFITS-SECTION ======== */

	/* ======== 5. REQUEST-SECTION ======== */

	/* ======== 6. QUOTE BLOCK ========== */

	/* ======== 7. VENDORS SECTION ======== */

	/* ======== 8. QUESTIONS-SECTION ======== */

	/* ======== 9. ORDER-SECTION ======== */

	/* ======== 10. PRODUCTION SECTION  ======== */

	/* ======== 11. FAQ SECTION  ======== */

	/* ======== 12. CONTACTS SECTION  ======== */

	/* ======== 13. FOOTER  ======== */
}




/* ======================================================= */
/* ================== MAX-WIDTH: 991px =================== */
/* ======================================================= */

@media (max-width: 991px) {
	.container { max-width: 720px; }

	/* ======== GLOBAL STYLES ======== */
	
	.headline__title {
		font-size: 36px;
	}
	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	/* ======== 3. SERVICE-SECTION ======== */

	/* ======== 4. BENEFITS-SECTION ======== */

	/* ======== 5. REQUEST-SECTION ======== */

	/* ======== 6. QUOTE BLOCK ========== */

	/* ======== 7. VENDORS SECTION ======== */

	/* ======== 8. QUESTIONS-SECTION ======== */

	/* ======== 9. ORDER-SECTION ======== */

	/* ======== 10. PRODUCTION SECTION  ======== */

	/* ======== 11. FAQ SECTION  ======== */

	/* ======== 12. CONTACTS SECTION  ======== */

	/* ======== 13. FOOTER  ======== */
}



/* ======================================================= */
/* ================== MAX-WIDTH: 767px =================== */
/* ======================================================= */

@media (max-width: 767px) {
	.container { max-width: 540px; }

	/* ======== GLOBAL STYLES ======== */

	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	/* ======== 3. SERVICE-SECTION ======== */

	/* ======== 4. BENEFITS-SECTION ======== */

	/* ======== 5. REQUEST-SECTION ======== */

	/* ======== 6. QUOTE BLOCK ========== */

	/* ======== 7. VENDORS SECTION ======== */

	/* ======== 8. QUESTIONS-SECTION ======== */

	/* ======== 9. ORDER-SECTION ======== */

	/* ======== 10. PRODUCTION SECTION  ======== */

	/* ======== 11. FAQ SECTION  ======== */

	/* ======== 12. CONTACTS SECTION  ======== */

	/* ======== 13. FOOTER  ======== */
}



/* ======================================================= */
/* ================== MAX-WIDTH: 575px =================== */
/* ======================================================= */

@media (max-width: 575px) {
	.container { max-width: 480px; }

	/* ======== GLOBAL STYLES ======== */

	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	/* ======== 3. SERVICE-SECTION ======== */

	/* ======== 4. BENEFITS-SECTION ======== */

	/* ======== 5. REQUEST-SECTION ======== */

	/* ======== 6. QUOTE BLOCK ========== */

	/* ======== 7. VENDORS SECTION ======== */

	/* ======== 8. QUESTIONS-SECTION ======== */

	/* ======== 9. ORDER-SECTION ======== */

	/* ======== 10. PRODUCTION SECTION  ======== */

	/* ======== 11. FAQ SECTION  ======== */

	/* ======== 12. CONTACTS SECTION  ======== */

	/* ======== 13. FOOTER  ======== */
}



/* ======================================================= */
/* ================== MAX-WIDTH: 480px =================== */
/* ======================================================= */

@media (max-width: 480px) {
	.container { max-width: 100%; }

		/* ======== GLOBAL STYLES ======== */

	/* ======== 1. HEADER =========== */

	/* ======== 2. HERO-SECTION ======== */

	/* ======== 3. SERVICE-SECTION ======== */

	/* ======== 4. BENEFITS-SECTION ======== */

	/* ======== 5. REQUEST-SECTION ======== */

	/* ======== 6. QUOTE BLOCK ========== */

	/* ======== 7. VENDORS SECTION ======== */

	/* ======== 8. QUESTIONS-SECTION ======== */

	/* ======== 9. ORDER-SECTION ======== */

	/* ======== 10. PRODUCTION SECTION  ======== */

	/* ======== 11. FAQ SECTION  ======== */

	/* ======== 12. CONTACTS SECTION  ======== */

	/* ======== 13. FOOTER  ======== */
}

@media (max-width: 320px) {
	.container { max-width: 100%; }
}