@use 'mixins' as *;

/* ===================================================== */
/* =================== MEDIA QUERIES =================== */
/* ===================================================== */
/* === max-width: 1299px, 991px, 767px, 575px, 479px === */
/* ===================================================== */

@media (min-width: 1200px) {
	.container { max-width: 1190px; }
}

/* ======================================================= */
/* ================== MAX-WIDTH: 1199.5px =================== */
/* ======================================================= */

@media (max-width: 1199.5px) {
	.container { max-width: 960px; }
}

/* ======================================================= */
/* ================== MAX-WIDTH: 991px =================== */
/* ======================================================= */

@media (max-width: 991px) {
	.container { max-width: 720px; }
}


/* ======================================================= */
/* ================== MAX-WIDTH: 767px =================== */
/* ======================================================= */

@media (max-width: 767px) {
	.container { max-width: 540px; }
}


/* ======================================================= */
/* ================== MAX-WIDTH: 575px =================== */
/* ======================================================= */

@media (max-width: 575px) {
	.container { max-width: 480px; }
}