@charset "UTF-8";
@import url("./custom_css_reset.css");
@import url("../fonts/fonts.css");
/* ===== VARIABLES ===== */
/* =============================== */
/* ======== GLOBAL STYLES ======== */
/* =============================== */
html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

body {
	position: relative;
	/* чтобы на header не попадали нижние блоки при прокрутке */
	min-width: 320px;
	overflow-x: hidden;
	font-family: "Circe", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	/* border-left: 1px solid red;
	border-right: 1px solid red; */
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hidden {
	display: none !important;
}

/* ======== GLOBAL STYLES. BUTTON ======== */
.btn {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 1.35;
	letter-spacing: 0.5px;
	color: white;
	width: 300px;
	height: 65px;
	border: 2px solid #0260e8;
	background-color: #0260e8;
	cursor: pointer;
}

.btn__wrap {
	position: relative;
	display: inline-block;
}
.btn__wrap::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 8px;
	display: block;
	width: 300px;
	height: 65px;
	border: 1px solid #0260e8;
}

/* ======== GLOBAL STYLES. HEADLINE ======== */
.headline {
	margin: 0 auto;
	max-width: 1310px;
	background-color: rgba(2, 96, 232, 0.08);
}
.headline__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headline__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
}
.headline__title .hl {
	color: #0260e8;
}
.headline__title .second-line {
	display: block;
}
.headline__image {
	flex: 0 0 260px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ======== GLOBAL STYLES. INFO-BLOCK ======== */
.info-block__list {
	display: flex;
	width: 100%;
}
.info-block__item {
	display: flex;
	align-items: center;
	/* border-left: 1px solid black; */
}
.info-block__item:first-child, .info-block__item:nth-child(2), .info-block__item:nth-child(3) {
	flex: 0 0 300px;
}
.info-block__item:last-child {
	flex: 0 0 260px;
	/* border-right: 1px solid black; */
}
.info-block__icon {
	margin-left: -11px;
	flex: 0 0 20px;
}
.info-block__text {
	padding-left: 28px;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
}
.info-block__text .hl {
	color: #0260e8;
}
.info-block__text .second-line {
	display: block;
}

/* ======== GLOBAL STYLES. FORM ======== */
.standart-form {
	padding-right: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.standart-form__input {
	padding: 0 20px;
	width: 100%;
	height: 50px;
	border: 1px solid #dbdbdb;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	outline: none;
}
.standart-form__input::placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.standart-form__input-telephone {
	padding: 0 20px 0 5px;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	outline: none;
}
.standart-form__input-telephone::placeholder {
	color: rgba(0, 0, 0, 0.4);
}
.standart-form__input-checkbox {
	margin: 0 10px 0 1px;
	position: relative;
	height: 20px;
	width: 20px;
	border: 2px solid #000;
	cursor: pointer;
	opacity: 0.6;
	transition: all 0.2s;
	appearance: none;
}
.standart-form__input-checkbox::-ms-expand {
	display: none;
}
.standart-form__input-checkbox:checked {
	opacity: 1;
	transition: all 0.2s;
}
.standart-form__input-checkbox:checked::after {
	content: "";
	position: absolute;
	left: 6px;
	top: 2px;
	box-sizing: content-box;
	width: 3px;
	height: 8px;
	border: solid #000;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.standart-form__telephone {
	padding: 0 0 0 21px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border: 1px solid #dbdbdb;
	background-color: #ffffff;
}
.standart-form__telephone-phonemask {
	display: flex;
	align-items: center;
	position: relative;
}
.standart-form__telephone-phonemask::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 27px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 4px 0;
	border-color: #9a9a9a transparent transparent;
}
.standart-form__telephone-flag {
	display: inline-block;
	width: 18px;
	height: 13px;
	background: url(../img/5_request/request_flags.png) -285px -281px no-repeat;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.standart-form__telephone-prefix {
	margin-left: 24px;
	display: inline-block;
}
.standart-form__agreement {
	display: flex;
	align-items: center;
}
.standart-form__agreement-link {
	margin-left: 3px;
	font-size: 14px;
	font-weight: 400;
	color: #0260e8;
}
.standart-form__label {
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.btn--standart-form,
.btn__wrap--standart-form,
.btn__wrap--standart-form::after {
	width: 100%;
	height: 100%;
}

.btn--standart-form {
	font-size: 14px;
	letter-spacing: normal;
}

/* ======== GLOBAL STYLES. ANIMATION ======== */
.animation-flash {
	overflow: hidden;
}
.animation-flash::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	transform: skewX(-45deg);
	animation: flash 3s linear infinite;
}

@keyframes flash {
	0% {
		left: -20%;
	}
	20%, 100% {
		left: 120%;
	}
}
/* ======== GLOBAL STYLES. ICONS ======== */
.icon-plus {
	position: relative;
	width: 20px;
	height: 20px;
}
.icon-plus__element {
	position: absolute;
	background-color: #0260e8;
}
.icon-plus__element:first-child {
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	height: 4px;
}
.icon-plus__element:last-child {
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
}

.svg-logo {
	width: 143px;
	height: 40px;
}

.svg-nav {
	width: 19px;
	height: 19px;
}

.svg-phone {
	width: 17px;
	height: 17px;
}

.svg-mail {
	width: 17px;
	height: 17px;
}

.svg-whatsapp {
	fill: #0260e8;
	width: 25px;
	height: 25px;
}

.svg-telegramm {
	fill: #0260e8;
	width: 22px;
	height: 22px;
}

.svg-instagramm {
	fill: #0260e8;
	width: 21px;
	height: 21px;
}

.svg-facebook {
	fill: #0260e8;
	width: 13px;
	height: 22px;
}

.svg-on-top {
	width: 50px;
	height: 50px;
}

/* ============================== */
/* ======== 1. HEADER =========== */
/* ============================== */
.header {
	position: fixed;
	z-index: 10;
	padding: 18px 0 4px;
	width: 100%;
	background-color: white;
}
.header__hamb {
	display: none;
	position: fixed;
	z-index: 5;
	top: 20px;
	right: 20px;
}
.header__inner {
	display: flex;
	width: 100%;
}
.header__logo {
	margin-right: 70px;
	flex: 0 0 143px;
}
.header__nav {
	flex: 0 0 314px;
	margin-right: 75px;
}

.hamb {
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #0260e8;
}
.hamb__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 22px;
	height: 14px;
}
.hamb__bar {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
}

.icon-exit {
	position: relative;
	display: block;
	height: 24px;
}
.icon-exit::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 2px;
	height: 24px;
	background-color: black;
	transform: rotate(45deg);
}
.icon-exit::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 2px;
	height: 24px;
	background-color: black;
	transform: rotate(-45deg);
}

.mobile-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	margin-left: auto;
	padding: 15px 15px 30px;
	flex-direction: column;
	display: flex;
	width: 260px;
	height: 100%;
	background-color: white;
	overflow: auto;
	transition: 0.3s;
	transform: translateX(100%);
}
.mobile-menu__wrap {
	display: block;
	position: fixed;
	z-index: 9;
	top: 0;
	right: -100%;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}
.mobile-menu__top-block {
	flex: 1 1 auto;
	justify-content: center;
}
.mobile-menu__bottom-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mobile-menu__exit {
	padding-right: 10px;
	display: flex;
	justify-content: flex-end;
}
.mobile-menu__logo {
	margin: 10px 0;
	display: flex;
	justify-content: center;
}
.mobile-menu__list {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mobile-menu__item {
	font-size: 17px;
}
.mobile-menu__item:not(:last-child) {
	margin-bottom: 15px;
}
.mobile-menu__phone {
	margin-top: 25px;
	font-size: 20px;
	font-weight: 300;
	color: #1f1f1f;
}
.mobile-menu__social-list {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}
.mobile-menu__social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}
.mobile-menu__social-item:not(:last-child) {
	margin-right: 10px;
}
.mobile-menu__link {
	display: inline-block;
	line-height: 1;
}
.mobile-menu__button-calc {
	margin: 25px auto 0 auto;
}

.svg-mobile-logo {
	width: 120px;
	height: 33px;
}

.svg-facebook-mobile,
.svg-instagramm-mobile,
.svg-telegramm-mobile {
	width: 30px;
	height: 30px;
}

.btn--header-mobile-calc {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu", Arial, sans-serif;
	font-size: 14px;
	color: white;
	width: 200px;
	height: 45px;
	border: none;
	border-radius: 4px;
	background-color: #0260e8;
	cursor: pointer;
}

.nav__menu {
	display: flex;
	align-items: center;
	height: 100%;
}
.nav__item {
	font-size: 16px;
	line-height: 1.55;
	font-weight: 600;
	opacity: 0.8;
}
.nav__item:hover {
	color: #0260e8;
}
.nav__item:first-child {
	margin-right: 38px;
}
.nav__item:last-child {
	margin-left: auto;
}
.header__address {
	margin-right: 65px;
	flex: 0 0 236px;
	display: flex;
	align-items: center;
}
.header__address-icon {
	margin-right: 25px;
}
.header__address-text {
	padding-top: 12px;
	text-align: center;
	font-size: 14px;
	line-height: 1.15;
	font-weight: 400;
	opacity: 0.8;
}

.header__contacts {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;
}
.header__contacts-phone {
	display: flex;
}
.header__contacts-phone-icon {
	margin-right: 8px;
	position: relative;
	top: -2px;
	left: -5px;
	transform: rotate(90deg);
}
.header__contacts-phone-text {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 600;
	opacity: 0.8;
}
.header__contacts-email {
	display: flex;
}
.header__contacts-email-icon {
	margin-right: 11px;
}
.header__contacts-email-text {
	font-size: 15px;
	line-height: 1.25;
	font-weight: 400;
	opacity: 0.8;
}

.header__social {
	margin: 0 0 0 auto;
	flex: 0 0 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__social-whatsapp:hover, .header__social-telegramm:hover {
	transition: 0.2s ease-in-out;
	opacity: 0.6;
}

/* ================================= */
/* ======== 2. HERO-SECTION ======== */
/* ================================= */
.hero {
	padding: 120px 0 119px;
	position: relative;
}
.hero__background-block {
	margin: 0 auto;
	padding: 82px 0 366px;
	max-width: 1310px;
	background-color: #f8f8f8;
}
.hero__lead {
	padding-top: 50px;
	width: 605px;
}
.hero__title {
	font-size: 41px;
	line-height: 1.3;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.hero__title .hl {
	color: #0260e8;
}
.hero__subtitle {
	font-size: 28px;
	line-height: 1.25;
	font-weight: 600;
	letter-spacing: 0.4px;
}
.hero__subtitle .hl {
	color: #0260e8;
}
.hero__desc {
	margin: -573px 0 0 auto;
	width: 265px;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0.1px;
	color: #292929;
	opacity: 0.85;
}
.hero__desc .hl {
	font-weight: 600;
	color: #0260e8;
}

.hero__machine {
	margin-top: -118px;
}
.hero__machine-inner {
	position: relative;
	left: 22.3%;
	display: inline-block;
	/* blue circle */
}
.hero__machine-inner::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 23.8%;
	display: block;
	width: 491px;
	height: 491px;
	border-radius: 50%;
	background-color: rgba(2, 96, 232, 0.08);
}
.hero__machine-image {
	margin-top: 75px;
	position: relative;
	width: 752px;
	height: 420px;
}
.hero__machine-tooltip {
	position: relative;
}
.hero__machine-tooltip-icon {
	line-height: 0;
	border-radius: 50%;
	background-color: #0260e8;
}
.hero__machine-tooltip-icon:hover + .hero__machine-tooltip-content::before {
	display: inline-block;
	transition: 0.2s ease-in-out;
	opacity: 1;
}
.hero__machine-tooltip-content::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 15px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	opacity: 0;
	transition: 0.2s ease-in-out;
	transition-delay: 0.3s;
}
.hero__machine-tooltip-wrap--1 {
	position: absolute;
	z-index: 2;
	left: 25.2%;
	top: 28.3%;
}
.hero__machine-tooltip-wrap--1 .hero__machine-tooltip-content::before {
	content: "Электронное изменение угла поворота пилы, позволяет делать максимально точные срезы под любые задачи наших заказчиков";
	position: absolute;
	right: 40px;
	width: 285px;
}
.hero__machine-tooltip-wrap--2 {
	position: absolute;
	z-index: 2;
	left: 83.5%;
	top: 25.6%;
}
.hero__machine-tooltip-wrap--2 .hero__machine-tooltip-content::before {
	content: "Расширенный стол с роликом для подачи заготовки + 4 направляющих ролика качения, ускоряют выполнения заказа без брака";
	position: absolute;
	left: 40px;
	width: 235px;
}
.hero__machine-tooltip-wrap--3 {
	position: absolute;
	z-index: 2;
	left: 43.7%;
	top: 93.2%;
}
.hero__machine-tooltip-wrap--3 .hero__machine-tooltip-content::before {
	content: "Профессиональное Австрийское оборудование в тандеме с опытными специалистами, позволяют давать гарантию на наши услуги";
	position: absolute;
	right: 40px;
	width: 275px;
}

.hero__info-block {
	margin-top: 304px;
}
.hero__info-block .info-block__item:nth-child(2) {
	padding-right: 30px;
}
.hero__info-block .info-block__item:nth-child(3) {
	padding-right: 42px;
}

/* + global styles - info-block */
.svg-service-icon {
	display: block;
	width: 125px;
	height: 125px;
}

.hero__button-calc-block {
	margin-top: 23px;
	padding: 0 8px 0 0;
}

.hero__button-calc-tooltip {
	opacity: 0;
	transition: 0.2s ease-in-out;
	margin: 14px 0 0 10px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
}
.hero__button-calc-tooltip .hl {
	font-weight: 600;
	color: #0260e8;
}

.btn--hero-calc {
	transition: 0.2s ease-in-out;
}
.btn--hero-calc:hover {
	background-color: #ffffff;
	color: #0260e8;
	transition: 0.2s ease-in-out;
}
.btn--hero-calc:hover + .hero__button-calc-tooltip {
	opacity: 0.75;
	transition: 0.2s ease-in-out;
}

.hero__button-order {
	position: absolute;
	bottom: 230px;
	right: 20px;
}

.btn--hero-order {
	width: 173px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	border: none;
}

.svg-plus {
	width: 25px;
	height: 25px;
}

/* ==================================== */
/* ======== 3. SERVICE-SECTION ======== */
/* ==================================== */
.service {
	padding: 100px 0 190px;
	position: relative;
}

.service__basic-headline {
	padding: 46px 0;
}
.service__basic-headline .headline__image-inner {
	width: 180px;
	height: 144px;
}

.service__list {
	margin-top: 29px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.service__item {
	padding-top: 65px;
	padding-bottom: 49px;
	display: flex;
	flex-direction: column;
}
.service__item:nth-child(4n+1), .service__item:nth-child(4n+2), .service__item:nth-child(4n+3) {
	flex: 0 0 300px;
}
.service__item:nth-child(4n+4) {
	flex: 0 0 260px;
}
.service__item-icon {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.service__item-title {
	margin-top: 20px;
	text-align: center;
	font-weight: 600;
}
.service__item-desc {
	margin-top: 18px;
	text-align: center;
	font-size: 14px;
	line-height: 1.65;
	font-weight: 500;
}

.service__basic-item--1st,
.service__basic-item--2nd,
.service__basic-item--3rd,
.service__basic-item--4th {
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}

.service__basic-item--5th .service__item-desc {
	flex: 0 0 46.19px;
}

.svg-service-basic-icon-1 {
	width: 55px;
	height: 45px;
}

.svg-service-basic-icon-2 {
	width: 50px;
	height: 50px;
}

.svg-service-basic-icon-3,
.svg-service-basic-icon-4,
.svg-service-basic-icon-5,
.svg-service-basic-icon-6 {
	width: 60px;
	height: 60px;
}

.svg-service-basic-icon-7 {
	width: 56px;
	height: 50px;
}

.svg-service-basic-icon-8 {
	width: 60px;
	height: 52.4px;
}

.service__extra .service__list {
	margin-top: 17px;
}
.service__extra-headline {
	margin-top: 89px;
	padding: 46px 0;
}
.service__extra-headline .headline__image-inner {
	width: 150px;
	height: 146px;
}

.svg-service-extra-icon-1,
.svg-service-extra-icon-2,
.svg-service-extra-icon-4 {
	width: 70px;
	height: 70px;
}

.svg-service-extra-icon-3 {
	width: 75px;
	height: 75px;
}

.service__button-consultation {
	margin-top: 43px;
	padding-left: 48px;
	/* смещена относительно центра */
	display: flex;
	justify-content: center;
}
.service__button-consultation .btn__wrap {
	padding-right: 8px;
	padding-bottom: 10px;
}

.btn--service-consulation {
	position: relative;
	z-index: 2;
	transition: 0.2s ease-in-out;
}
.btn--service-consulation:hover {
	background-color: #ffffff;
	color: #0260e8;
}

.service__button-on-top {
	position: absolute;
	top: 0;
	left: 30px;
}

/* ===================================== */
/* ======== 4. BENEFITS-SECTION ======== */
/* ===================================== */
.benefits {
	padding: 76px 0 30px;
}
.benefits__title {
	position: sticky;
	top: 250px;
	padding-bottom: 20px;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 700;
}
.benefits__title .second-line {
	display: block;
}
.benefits__title .hl {
	color: #0260e8;
}
.benefits__list {
	margin-left: 600px;
	display: flex;
	flex-direction: column;
}

.benefits__item-number {
	font-size: 156px;
	font-weight: 700;
	line-height: 1;
	color: rgba(0, 0, 0, 0.04);
}
.benefits__item-title {
	margin-top: -95px;
	padding-right: 150px;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 600;
}
.benefits__item-title .hl {
	color: #0260e8;
}
.benefits__item-desc {
	position: relative;
	margin-top: 43px;
	padding-right: 130px;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}
.benefits__item-desc::before {
	content: "";
	position: absolute;
	top: -23px;
	left: 0;
	display: inline-block;
	width: 60px;
	height: 2px;
	background-color: #0260e8;
}
.benefits__item-desc .hl {
	color: black;
}

.benefits__item--1st .benefits__item-desc {
	padding-right: 130px;
}

.benefits__item--2nd {
	margin-top: 76px;
}
.benefits__item--2nd .benefits__item-title {
	padding-right: 200px;
}
.benefits__item--2nd .benefits__item-desc {
	padding-right: 130px;
}

.benefits__item--3rd {
	margin-top: 75px;
}
.benefits__item--3rd .hl {
	display: block;
	line-height: 1.1;
}
.benefits__item--3rd .benefits__item-desc {
	padding-right: 155px;
}

.benefits__slider {
	margin-top: 215px;
}
.benefits__slider-image {
	max-width: 1160px;
	height: 775px;
}
.benefits__slider img {
	object-fit: cover;
}

/* ==================================== */
/* ======== 5. REQUEST-SECTION ======== */
/* ==================================== */
.request {
	padding: 115px 0 120px;
}
.request__background-block {
	margin: 0 auto;
	padding: 50px 0 57px;
	max-width: 1310px;
	background-color: rgba(2, 96, 232, 0.08);
}
.request__inner {
	display: flex;
	align-items: center;
}
.request__title {
	flex: 0 0 600px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.25;
	color: #292929;
}
.request__title .second-line {
	display: block;
}
.request__title .hl {
	color: #0260e8;
}
.request__form {
	flex: 0 0 410px;
}

.request__form .standart-form__input {
	margin-bottom: 19px;
}
.request__form .standart-form__agreement {
	margin-top: 21px;
}
.request__form .standart-form__button {
	margin-top: 20px;
	height: 60px;
}

/* ================================== */
/* ======== 6. QUOTE BLOCK ========== */
/* ================================== */
.quote {
	padding: 40px 0 60px;
}
.quote__inner {
	display: flex;
}

.quote__video {
	padding-top: 8px;
	flex: 0 0 475px;
}
.quote__video-player {
	padding-right: 20px;
	position: relative;
}
.quote__video-player::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 452px;
	height: 252px;
	border: 1px solid #0260e8;
	opacity: 0.55;
}
.quote__video-frame {
	position: relative;
	width: 452px;
	height: 254px;
	border: 0px;
}
.quote__video-thumb {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.quote__video-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	line-height: 1;
	border: none;
	background-color: transparent;
}

.video-media {
	width: 100%;
	height: 100%;
	border: 0px;
}

.svg-quote-youtube {
	width: 80px;
	height: 56px;
}

.quote__content {
	margin-left: 55px;
	display: flex;
}
.quote__content-icon {
	padding-top: 5px;
	flex: 0 0 50px;
}
.quote__content-info {
	margin-left: 20px;
	flex: 0 0 560px;
}
.quote__content-text {
	font-size: 25px;
	font-weight: 600;
	line-height: 1.55;
	color: rgba(0, 0, 0, 0.9);
}
.quote__content-card {
	margin-top: 51px;
	display: flex;
}
.quote__content-card-photo {
	flex: 0 0 100px;
	height: 100px;
}
.quote__content-card-photo .img {
	object-fit: cover;
	border-radius: 50%;
}
.quote__content-card-data {
	margin-left: 30px;
}
.quote__content-name, .quote__content-position, .quote__content-link {
	font-size: 16px;
	line-height: 1.55;
	color: rgba(0, 0, 0, 0.9);
}
.quote__content-name {
	font-weight: 600;
}
.quote__content-position {
	font-weight: 400;
}
.quote__content-link {
	margin-top: 18px;
	display: block;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: #0260e8;
	text-decoration-thickness: 1px;
	text-underline-offset: 7px;
}

.svg-quote-icon {
	width: 50px;
	height: 39px;
}

/* ==================================== */
/* ======== 7. VENDORS SECTION ======== */
/* ==================================== */
.vendors {
	padding: 163px 0 40px;
}
.vendors__headline {
	background-color: white;
}
.vendors__headline .headline__image-inner {
	width: 180px;
	height: 125px;
}

.vendors__slider {
	margin-top: 147px;
}
.vendors__slider-list {
	display: flex;
}
.vendors__slider-item:first-child, .vendors__slider-item:nth-child(2), .vendors__slider-item:nth-child(3) {
	flex: 0 0 300px;
}
.vendors__slider-item:first-child .vendors__slider-image, .vendors__slider-item:nth-child(2) .vendors__slider-image, .vendors__slider-item:nth-child(3) .vendors__slider-image {
	margin: 0 0 0 18%;
}
.vendors__slider-item:last-child {
	flex: 0 0 260px;
}
.vendors__slider-item:last-child .vendors__slider-image {
	margin: 0 auto;
}
.vendors__slider-image {
	max-width: 150px;
	max-height: 90px;
	filter: grayscale(100%);
}
.vendors__slider-image:hover {
	filter: grayscale(0);
}

/* ====================================== */
/* ======== 8. QUESTIONS-SECTION ======== */
/* ====================================== */
.questions {
	padding: 118px 0 40px;
}
.questions__headline {
	padding: 41px 0;
}
.questions__headline .headline__image-inner {
	width: 136px;
	height: 154px;
}
.questions__card {
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.questions__card-wrap {
	margin-top: 63px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	max-width: 1190px;
}

.questions__card-header {
	background-color: #ececec;
}
.questions__card-header-inner {
	padding: 38px 45px 35px;
	display: flex;
}
.questions__card-header-icon {
	margin-right: 6px;
	align-self: flex-start;
}
.questions__card-header-title {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.55;
}
.questions__card-header-counter {
	margin-left: auto;
	align-self: flex-start;
	font-size: 14px;
	font-weight: 500;
}
.questions__card-header-progressbar {
	display: block;
	width: 100%;
	height: 5px;
	background-color: #cbcbcb;
}

.questions__card-body {
	padding: 35px 45px 82px;
}

.form-questions__title {
	font-size: 26px;
	font-weight: 600;
}
.form-questions__list {
	margin-top: 22px;
	display: flex;
	flex-direction: column;
}
.form-questions__item {
	display: flex;
	align-items: center;
}
.form-questions__item:not(:last-child) {
	margin-bottom: 18px;
}
.form-questions__input {
	margin: 0 10px 0 0;
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
	appearance: none;
}
.form-questions__input::-ms-expand {
	display: none;
}
.form-questions__input:checked::after {
	content: "";
	position: absolute;
	margin: auto;
	/* Выравнивание по центру */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}
.form-questions__label {
	font-family: "Ubuntu", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	cursor: pointer;
}

.questions__card-footer {
	padding: 0 45px 50px;
}
.questions__card-footer-inner {
	display: flex;
	justify-content: space-between;
}

.btn--questions-grey,
.btn--questions-blue {
	gap: 3px;
	height: 45px;
	width: 118px;
	border: 1px solid #0260e8;
	border-radius: 4px;
	font-size: 14px;
}

.btn--questions-grey {
	padding-right: 10px;
	background-color: #cbcbcb;
	opacity: 0.6;
}

.btn--questions-blue {
	padding-left: 11px;
}

.btn--questions-grey .btn__icon,
.btn--questions-blue .btn__icon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.svg-questions-icon {
	width: 20px;
	height: 20px;
}

/* ================================== */
/* ======== 9. ORDER-SECTION ======== */
/* ================================== */
.order {
	padding: 120px 0 60px;
}
.order__background {
	padding: 127px 0 124px;
	position: relative;
	background: url(../img/9_order/9_order_image_1.jpg) center/cover no-repeat;
	background-attachment: fixed;
}
.order__background-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.order__content {
	position: relative;
}
.order__title {
	margin: 0 auto;
	width: 820px;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.45;
	color: white;
}
.order__title .hl {
	color: #0260e8;
}
.order__subtitle {
	margin: 27px auto 0 auto;
	max-width: 580px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	line-height: 33px;
	color: white;
}
.order__button {
	margin-top: 72px;
	display: flex;
	justify-content: center;
}

.btn--order {
	width: 400px;
	height: 60px;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: normal;
}
.btn--order:hover {
	background-color: #ffffff;
	color: #0260e8;
}

/* ========================================= */
/* ======== 10. PRODUCTION SECTION  ======== */
/* ========================================= */
.production {
	padding: 68px 0 40px;
}
.production__headline {
	padding: 70px 0;
}
.production__headline .headline__title {
	padding-right: 500px;
}

.production__info-block {
	margin-top: 101px;
}
.production__info-block .info-block__item:nth-child(2) {
	padding-right: 30px;
}
.production__info-block .info-block__item:nth-child(3) {
	padding-right: 42px;
}
.production__info-block .info-block__item:last-child .info-block__text {
	padding-left: 22px;
}

.production__machines {
	margin-top: 119px;
}
.production__machines-list {
	display: flex;
}
.production__machines-item {
	position: relative;
	display: flex;
	flex-direction: column;
}
.production__machines-image {
	position: relative;
}
.production__machines-image::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 231px;
	height: 231px;
	border-radius: 50%;
	background-color: #0260e8;
	opacity: 0.08;
}
.production__machines-image .img {
	position: relative;
}
.production__machines-caption {
	margin-top: 33px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}
.production__machines-caption .hl {
	color: #0260e8;
}

.production__machines-item--1st {
	flex: 1 1 600px;
}
.production__machines-item--1st .production__machines-image {
	margin: 25px 0 0 100px;
	width: 372px;
	height: 208px;
}
.production__machines-item--1st .production__machines-image::before {
	top: -24px;
	left: 85px;
}
.production__machines-item--1st .production__machines-caption {
	padding: 0 190px;
}

.production__machines-item--2nd {
	flex: 1 1 560px;
}
.production__machines-item--2nd .production__machines-image {
	margin: 45px 0 0 153px;
	width: 343px;
	height: 161px;
}
.production__machines-item--2nd .production__machines-image::before {
	top: -43px;
	left: 28px;
}
.production__machines-item--2nd .production__machines-caption {
	margin: 60px 0 0 40px;
	padding: 0px 100px;
}

/* ================================== */
/* ======== 11. FAQ SECTION  ======== */
/* ================================== */
.faq {
	padding: 90px 0 40px;
}
.faq__headline {
	padding: 71px 0;
}
.faq__main-block {
	margin-top: 74px;
	display: flex;
}
.faq__questions {
	flex: 0 0 660px;
}
.faq__form {
	margin: 6px 0 0 133px;
	flex: 0 0 380px;
}
.faq__button-question {
	display: none;
}
.faq__button-question .btn__wrap {
	padding-right: 8px;
	padding-bottom: 10px;
}

.questions-faq__list {
	display: flex;
	flex-direction: column;
}
.questions-faq__item {
	border-top: 1px solid #f0f0f0;
}
.questions-faq__item:last-child {
	border-bottom: 1px solid #f0f0f0;
}
.questions-faq__header {
	padding: 25px 0 18px;
	display: flex;
}
.questions-faq__header-title {
	padding-right: 10px;
	flex: 1 1 auto;
	font-size: 22px;
	font-weight: 500;
}
.questions-faq__header-title .hl {
	color: #0260e8;
}
.questions-faq__icon {
	flex: 0 0 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.questions-faq__body {
	/* padding-bottom: 40px; */
	max-height: 0;
	overflow: hidden;
}
.questions-faq__body-answer {
	color: #3d3d3d;
	line-height: 1.5;
	padding-bottom: 40px;
}
.questions-faq__body-link, .questions-faq__body-link--underlined {
	color: #0260e8;
}
.questions-faq__body-link--underlined {
	text-decoration: underline;
	text-decoration-color: #0260e8;
	text-decoration-thickness: 1px;
	text-underline-offset: 7px;
}

.questions-faq__body.active {
	max-height: 1999px;
	transition: 1s;
}

.questions-faq__icon .icon-plus__wrap.active {
	transform: rotate(-45deg);
}
.questions-faq__icon .icon-plus__wrap.active .icon-plus__element {
	background-color: black;
}

.questions-faq__icon {
	flex: 0 0 40px;
}
.questions-faq__icon .icon-plus__wrap {
	position: relative;
	top: -4px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* &:active {
		transition: all 0.2s;
		transform: rotate(-45deg);

		.icon-plus__element {
			background-color: white;
		}
	} */
}
.questions-faq__icon .icon-plus__wrap:hover {
	background-color: #0260e8;
	border-radius: 50%;
}
.questions-faq__icon .icon-plus__wrap:hover .icon-plus__element {
	background-color: white;
}
.questions-faq__icon .icon-plus {
	width: 24px;
	height: 24px;
}
.questions-faq__icon .icon-plus__element {
	background-color: black;
}
.questions-faq__icon .icon-plus__element:first-child {
	height: 1px;
}
.questions-faq__icon .icon-plus__element:last-child {
	width: 1px;
}

.faq__form .standart-form__input {
	margin-bottom: 19px;
}
.faq__form .standart-form__agreement {
	margin-top: 21px;
}
.faq__form .standart-form__button {
	margin-top: 20px;
	height: 60px;
}

/* ======================================= */
/* ======== 12. CONTACTS SECTION  ======== */
/* ======================================= */
.contacts {
	padding: 103px 0 40px;
}
.contacts__inner {
	display: flex;
}
.contacts__content {
	margin-right: 200px;
	flex: 0 0 400px;
	display: flex;
	flex-direction: column;
}
.contacts__title {
	margin-bottom: 38px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.1;
}
.contacts__title .hl {
	color: #0260e8;
}
.contacts__button {
	margin-top: 39px;
	padding-right: 8px;
}

.contacts__phone {
	margin-left: 3px;
	margin-bottom: 15px;
	display: flex;
}
.contacts__phone-icon {
	margin-right: 23px;
	position: relative;
	top: 0px;
	left: -5px;
	transform: rotate(90deg);
}
.contacts__phone-text {
	font-size: 17px;
	font-weight: 600;
	color: #292929;
}

.contacts__address {
	margin: 0 0 1px 2px;
	display: flex;
}
.contacts__address-icon {
	margin-right: 23px;
}
.contacts__address-text {
	width: 280px;
	font-size: 16px;
	line-height: 1.1;
	font-weight: 400;
	letter-spacing: 0.3px;
	color: #292929;
}
.contacts__address-text .hl {
	font-weight: 600;
}

.contacts__mail {
	margin-left: 2px;
	margin-bottom: 11px;
	display: flex;
}
.contacts__mail-icon {
	margin-right: 25px;
}
.contacts__mail-text {
	font-size: 16px;
	font-weight: 600;
	color: #292929;
}

.contacts__social {
	margin-top: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
}
.contacts__social-whatsapp:hover, .contacts__social-telegramm:hover, .contacts__social-instagramm:hover, .contacts__social-facebook:hover {
	transition: 0.2s ease-in-out;
	opacity: 0.6;
}

.contacts__map {
	flex: 0 0 560px;
	overflow: hidden;
}
.contacts__map-inner {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#yandex-map {
	display: block;
}

#yandex-map--small {
	display: none;
}

.btn--contacts:hover {
	background-color: #ffffff;
	color: #0260e8;
}

/* ============================= */
/* ======== 13. FOOTER  ======== */
/* ============================= */
.footer {
	padding: 67px 0 80px;
}
.footer__inner {
	display: flex;
}
.footer__site-map {
	flex: 0 0 300px;
}
.footer__extra {
	flex: 0 0 260px;
}

.footer__block {
	margin-top: 8px;
}
.footer__block-title {
	font-size: 18px;
	font-weight: 700;
	color: #292929;
}
.footer__block-list {
	margin-top: 25px;
}
.footer__block-item {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	color: #292929;
}
.footer__block-item .hl {
	font-weight: 600;
}
.footer__block-item .hl--blue {
	color: #0260e8;
}

.footer__info {
	flex: 0 0 282px;
}
.footer__info .footer__block-list {
	margin-top: 13px;
}
.footer__info .footer__block-list:nth-of-type(2) {
	margin-top: 49px;
}
.footer__info .footer__block-item {
	line-height: 1.2;
}
.footer__info-link {
	font-size: 14px;
	font-weight: 600;
	color: rgba(2, 96, 232, 0.7);
}

.footer__working-hours {
	padding: 0 0 5px 19px;
	flex: 0 0 320px;
	position: relative;
}
.footer__working-hours-frame {
	position: absolute;
	z-index: -1;
	top: 12px;
	left: 0;
	width: 231px;
	height: 240px;
	border: 1px solid rgba(2, 96, 232, 0.6);
}
.footer__working-hours .footer__block-title {
	margin-left: -12px;
	padding: 0px 12px;
	position: relative;
	display: inline-block;
	background-color: white;
}
.footer__working-hours .footer__block-item {
	line-height: 1.58;
}

.svg-logo--footer {
	width: 152px;
	height: 44px;
}